@import 'src/styles/styles';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  max-height: 65px;
}

.brand {
  color: mat-color($primary, 500, 0.9);
  text-decoration: none;
}

.brand2 {
  color: mat-color($primary, 'lighter-contrast');
}

.menu-button {
  margin-right: 1rem;
}
