@import 'src/styles/styles';

app-requests-list {
  mat-cell.mat-cell,
  mat-header-cell.mat-header-cell {
    overflow: visible;
    cursor: pointer;
  }

  mat-header-row {
    background: mat-color($mat-fusedark, 50, 0.9);
    border-top: 1px solid mat-color($mat-fusedark, 100, 0.9);
  }

  .messages-badge {
    background-color: mat-color($primary, 500, 0.9);
    padding: 4px;
  }

  .full-width {
    width: 100%;
  }
}

#requestTable {
  max-height: 50vh !important;
  overflow: auto !important;
}

#add-request-button {
  position: absolute;

  top: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
}
