@import 'src/styles/styles';

#requests {
  .content {
    overflow: hidden;
  }

  .w-75 {
    width: 75%;
  }

  .container {
    padding: 1em;
  }

  mat-toolbar.primary {
    background: mat-color($mat-fusedark, 50, 0.9);
  }

  mat-toolbar-row {
    border-top: 1px solid mat-color($mat-fusedark, 100, 0.9);
  }

  .mat-toolbar .alt {
    background: white;
  }

  .mat-primary-bg {
    background-color: mat-color($primary, 500, 0.9);
  }

  .mat-accent-bg {
    background-color: mat-color($primary, 500, 0.9);
  }

  .cost-column label,
  .totals-column label {
    font-size: 50%;
  }
}

.mat-table {
  overflow: auto;
  max-height: 500px !important;
}
