<div id="requests" class="container" fxLayoutAlign="start stretch" fxLayout="column">

  <div fxLayout="row" class="info-row">
    <div class="totals-column" fxFlex fxLayout="column" fxLayoutAlign="center center">
      <label fxFlex>UNPAID TOTAL</label>
      <div fxFlex>5345</div>
    </div>
    <div class="totals-column" fxFlex fxLayout="column" fxLayoutAlign="center center">
      <label fxFlex>UNPAID EQUIPMENT</label>
      <div fxFlex>345</div>
    </div>
    <div class="totals-column" fxFlex fxLayout="column" fxLayoutAlign="center center">
      <label fxFlex>UNPAID LABOR</label>
      <div fxFlex>2343</div>
    </div>
    <div class="totals-column" fxFlex fxLayout="column" fxLayoutAlign="center center">
      <label fxFlex>UNPAID MATERIAL</label>
      <div fxFlex>34534</div>
    </div>
    <div class="totals-column" fxFlex fxLayout="column" fxLayoutAlign="center center">
      <label fxFlex>PAID</label>
      <div fxFlex>345345</div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center">
    <label for="search" class="mr-8">
      <mat-icon>search</mat-icon>
    </label>
    <mat-form-field mat-no-float class="m-0" floatPlaceholder="never">
      <input matInput [formControl]="searchInput" id="search" placeholder="Search Requests...">
    </mat-form-field>
  </div>



  <!-- CONTENT -->
  <div class="content">

    <app-requests-list style="width:100%; max-height:50vh; overflow:auto"></app-requests-list>

  </div>
  <!-- / CONTENT -->



</div>
