.cost-label {
  color: #003d79;
}

.datagrid-host {
  display: flex;
  max-height: 60vh !important;
}

.bold-label {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 0 !important;
}

.mat-ripple {
  overflow: visible !important;
}

.cost-title {
  color: rgba(0, 0, 0, 0.54);
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cost-section {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 4px 0;
}

.cost-content {
  background: #fff;
  padding: 4px;
}

.checkbox {
  padding-left: 4px !important;
}

.checkbox input[type='checkbox']:checked+label::before,
.checkbox-inline input[type='checkbox']:checked+label::before {
  background: #003d79 !important;
}

.cost-selection {
  color: #003d79 !important;
}

.checkbox-padding {
  padding-right: 0.516667rem !important;
}

.card-header {
  color: inherit !important;
  border-radius: 4px !important;
}
