<h2 mat-dialog-title>NEW PROJECT</h2>

<mat-dialog-content *ngIf="projectFormGroup" [formGroup]="projectFormGroup">
  <section class="form-block">
    <div class="form-group">
      <label for="selects_1">Select Account: </label>
      <div class="select d-flex w-50">
        <select id="selects_1" formControlName="selectedAccount" required>
          <option
            *ngFor="let choice of (accounts$ | async)"
            [value]="choice.id">{{ choice.organization }}</option>
        </select>
      </div>
    </div>
    <div class="project-section full-width pb-2 row align-items-center">
      <div class="col align-items-center">
        <label class="required pr-2">Project Name: </label>
        <div class="full-width">
          <input
            type="text"
            name="projectName"
            class="w-50"
            formControlName="projectName"
            placeholder="project name"
            required
            />
        </div>
      </div>
    </div>
    <div class="project-section full-width pb-2 row align-items-center">
      <div class="col align-items-center">
        <div class="form-block row no-margin-left align-items-center">
          <label for="pr-1" class="no-bottom-margin">Zip Code:</label>
          <div class="pl-1 pr-1">
            <input
              type="text"
              name="zipcode"
              formControlName="zipcode"
              required
              size="9"
              maxlength="9"
              placeholder="project zip code"
              />
          </div>
          <label class="required no-bottom-margin pr-1">State: </label>
          <div class="w-50">
            <ng-select
              class="w-50"
              formControlName="state"
              appendTo="body"
              required>
              <ng-option *ngFor="let state of states" [value]="state.value">{{
                state.label
                }}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="row no-margin-left font-italic small-text">
          <i class="material-icons md-20 md-dark"> info </i>&nbsp;CostTrax uses
          zip code information to look up local rental rates when auditing
          submitted equipment costs
        </div>
      </div>
    </div>

    <div class="form-group pt-2 pr-2">
      <label for="formFields_8">Instructions:</label>

      <div class="row no-margin-left font-italic small-text">
        <i class="material-icons md-20 md-dark"> info </i>&nbsp;Include any
        relevant instructions or information for users submitting requests on
        this project.
      </div>
      <textarea
        id="formFields_8"
        rows="3"
        formControlName="projectInstructions"></textarea>
    </div>
  </section>
  <section class="form-group pr-1">
    <app-user-list
      [users]="project.requestors"
      [projectId]="project.id"
      [newProject]="true"
      [type]="'REQUESTOR'"
      (changed)="refreshRequestors($event)"></app-user-list>
  </section>
  <section class="form-group pr-1">
    <app-user-list
      [users]="project.users"
      [projectId]="project.id"
      [newProject]="true"
      [type]="'USER'"
      (changed)="refreshUsers($event)"></app-user-list>
  </section>
  <section class="form-group">
    <h4 class="project-heading pb-1">Allowable Costs</h4>

    <div class="cost-section mb-1" *ngIf="accountSynced">
      <div class="row no-margin-left cost-title full-width">
        <mat-checkbox
          type="checkbox"
          matRipple
          id="activeCheck"
          (change)="toggleCheckbox('equipment', $event)"
          formControlName="activeCheck">
        </mat-checkbox>
        <h4 class="pl-1 no-top-margin no-bottom-margin align-items-center">
          Equipment, Active
        </h4>
      </div>

      <div class="cost-content px-1 pb-1">
        <label class="bold-label">Formula:</label>
        <ng-select
          class="w-25"
          [items]="activeFormulas"
          bindValue="name"
          bindLabel="label"
          placeholder="Choose Formula"
          clearAllText="Clear"
          [closeOnSelect]="true"
          [hideSelected]="true"
          appendTo="body"
          formControlName="activeFormula">
        </ng-select>
        <div class="row no-margin-left font-italic small-text">
          (Rental Rate Blue Book Monthly Ownership Cost/176)+(Rental Rate Blue
          Book Hourly Operating Cost)
        </div>
      </div>
      <div class="cost-content px-1 pb-1">
        <label class="bold-label">Rate Adjustments:</label>
        <div class="px-1">
          <div class="checkbox">
            <input
              type="checkbox"
              matRipple
              id="activeRegionalCheck"
              formControlName="activeRegionalCheck"
              />
            <label for="activeRegionalCheck">Use regional adjustment</label>
          </div>
          <div class="row no-margin-left pb-1 w-50 align-items-center">
            <label class="no-bottom-margin">Reimbursable %, Ownership Cost:</label>
            <div class="spacer"></div>
            <nz-input-number
              formControlName="activeOwnershipCost"
              [nzMin]="1"
              [nzMax]="100"
              [nzStep]="1"
              [nzFormatter]="formatterPercent"
              [nzParser]="parserPercent"></nz-input-number>
          </div>
          <div class="row no-margin-left pb-1 w-50 align-items-center">
            <label class="no-bottom-margin">Reimbursable %, Operating Cost:</label>
            <div class="spacer"></div>
            <nz-input-number
              formControlName="activeOperatingCost"
              [nzMin]="1"
              [nzMax]="100"
              [nzStep]="1"
              [nzFormatter]="formatterPercent"
              [nzParser]="parserPercent"></nz-input-number>
          </div>
        </div>
      </div>
      <div class="cost-content px-1 pb-1">
        <div class="bold-label">Markup:</div>
        <div class="row no-margin-left">
          <nz-input-number
            formControlName="activeMarkup"
            [nzMin]="1"
            [nzMax]="100"
            [nzStep]="1"
            [nzFormatter]="formatterPercent"
            [nzParser]="parserPercent"></nz-input-number>
          <div class="spacer"></div>
          <div
            class="row no-margin-left font-italic small-text"
            style="padding-right: 1rem">
            <i class="material-icons md-20 md-dark"> info </i>&nbsp;Rate
            Adjustments will be applied anywhere rates are displayed<br />
            in CostTrax. Markup applied to Totals and Recapitulation only.
          </div>
        </div>
      </div>
    </div>

    <div class="cost-section mb-1" *ngIf="accountSynced">
      <div class="row no-margin-left cost-title full-width">
        <mat-checkbox
          type="checkbox"
          matRipple
          id="standbyCheck"
          (change)="toggleCheckbox('standby', $event)"
          formControlName="standbyCheck">
        </mat-checkbox>
        <h4 class="pl-1 no-top-margin no-bottom-margin align-items-center">
          Equipment, Standby
        </h4>
      </div>
      <div class="cost-content px-1 pb-1">
        <label class="bold-label">Formula:</label>
        <ng-select
          class="w-50"
          [items]="standbyFormulas"
          bindValue="name"
          bindLabel="label"
          placeholder="Choose Formula"
          clearAllText="Clear"
          [closeOnSelect]="true"
          [hideSelected]="true"
          appendTo="body"
          formControlName="standbyFormula">
        </ng-select>
        <div class="row no-margin-left font-italic small-text">
          (Rental Rate Blue Book Monthly Ownership Cost/176)*0.5
        </div>
      </div>
      <div class="cost-content px-1 pb-1">
        <label class="bold-label">Rate Adjustments:</label>
        <div class="px-1">
          <div class="checkbox">
            <input
              type="checkbox"
              matRipple
              id="standbyRegionalCheck"
              formControlName="standbyRegionalCheck"
              />
            <label for="standbyRegionalCheck">Use regional adjustment</label>
          </div>
        </div>
      </div>
      <div class="cost-content px-1 pb-1">
        <div class="bold-label">Markup:</div>
        <div class="row no-margin-left">
          <nz-input-number
            formControlName="standbyMarkup"
            [nzMin]="1"
            [nzMax]="100"
            [nzStep]="1"
            [nzFormatter]="formatterPercent"
            [nzParser]="parserPercent"></nz-input-number>
          <div class="spacer"></div>
          <div
            class="row no-margin-left font-italic small-text"
            style="padding-right: 1rem">
            <i class="material-icons md-20 md-dark"> info </i>&nbsp;Rate
            Adjustments will be applied anywhere rates are displayed<br />
            in CostTrax. Markup applied to Totals and Recapitulation only.
          </div>
        </div>
      </div>
    </div>
    <div class="cost-section mb-1" *ngIf="accountSynced">
      <div class="row no-margin-left cost-title full-width">
        <mat-checkbox
          type="checkbox"
          matRipple
          id="rentalCheck"
          (change)="toggleCheckbox('rental', $event)"
          formControlName="rentalCheck">
        </mat-checkbox>
        <h4 class="pl-1 no-top-margin no-bottom-margin align-items-center">
          Equipment, Rental
        </h4>
      </div>
      <div class="cost-content px-1 pb-1">
        <label class="bold-label">Formula:</label>
        <div class="row no-margin-left font-italic small-text">
          Invoice Amount + Hourly Operating Cost
        </div>
      </div>
      <div class="cost-content px-1 pb-1">
        <div class="bold-label">Markup:</div>
        <div class="row no-margin-left">
          <nz-input-number
            formControlName="rentalMarkup"
            [nzMin]="1"
            [nzMax]="100"
            [nzStep]="1"
            [nzFormatter]="formatterPercent"
            [nzParser]="parserPercent"></nz-input-number>
        </div>
      </div>
    </div>
    <div class="cost-section mb-1">
      <div class="row no-margin-left cost-title full-width">
        <mat-checkbox
          type="checkbox"
          matRipple
          id="materialCheck"
          (change)="toggleCheckbox('material', $event)"
          formControlName="materialCheck">
        </mat-checkbox>
        <h4 class="pl-1 no-top-margin no-bottom-margin align-items-center">
          Material
        </h4>
      </div>
      <div class="cost-content px-1 pb-1">
        <label class="bold-label">Formula:</label>
        <div class="row no-margin-left font-italic small-text">
          Invoice Amount
        </div>
      </div>
      <div class="cost-content px-1 pb-1">
        <div class="bold-label">Markup:</div>
        <div class="row no-margin-left">
          <nz-input-number
            formControlName="materialMarkup"
            [nzMin]="1"
            [nzMax]="100"
            [nzStep]="1"
            [nzFormatter]="formatterPercent"
            [nzParser]="parserPercent"></nz-input-number>
        </div>
      </div>
    </div>
    <div class="cost-section mb-1">
      <div class="row no-margin-left cost-title full-width">
        <mat-checkbox
          type="checkbox"
          matRipple
          id="laborCheck"
          (change)="toggleCheckbox('labor', $event)"
          formControlName="laborCheck">
        </mat-checkbox>
        <h4 class="pl-1 no-top-margin no-bottom-margin align-items-center">
          Labor
        </h4>
      </div>
      <div class="cost-content px-1 pb-1">
        <label class="bold-label">Formula:</label>
        <div class="row no-margin-left font-italic small-text">
          Hourly Rate + Fringe Benefits
        </div>
      </div>
      <div class="cost-content px-1 pb-1">
        <div class="bold-label">Markup:</div>
        <div class="row no-margin-left">
          <nz-input-number
            formControlName="laborMarkup"
            [nzMin]="1"
            [nzMax]="100"
            [nzStep]="1"
            [nzFormatter]="formatterPercent"
            [nzParser]="parserPercent"></nz-input-number>
        </div>
      </div>
    </div>
    <div class="cost-section mb-1">
      <div class="row no-margin-left cost-title full-width">
        <mat-checkbox
          type="checkbox"
          matRipple
          id="subcontractorCheck"
          (change)="toggleCheckbox('subcontractor', $event)"
          formControlName="subcontractorCheck">
        </mat-checkbox>
        <h4 class="pl-1 no-top-margin no-bottom-margin align-items-center">
          Subcontractor
        </h4>
      </div>
      <div class="cost-content px-1 pb-1">
        <label class="bold-label">Formula:</label>
        <div class="row no-margin-left font-italic small-text">
          Invoice Amount
        </div>
      </div>
      <div class="cost-content px-1 pb-1">
        <div class="bold-label">Markup:</div>
        <div class="row no-margin-left">
          <nz-input-number
            formControlName="subcontractorMarkup"
            [nzMin]="1"
            [nzMax]="100"
            [nzStep]="1"
            [nzFormatter]="formatterPercent"
            [nzParser]="parserPercent"></nz-input-number>
        </div>
      </div>
    </div>
    <div class="cost-section mb-1">
      <div class="row no-margin-left cost-title full-width">
        <mat-checkbox
          type="checkbox"
          matRipple
          id="otherCheck"
          (change)="toggleCheckbox('other', $event)"
          formControlName="otherCheck">
        </mat-checkbox>
        <h4 class="pl-1 no-top-margin no-bottom-margin align-items-center">
          Other
        </h4>
      </div>
      <div class="cost-content px-1 pb-1">
        <div class="row no-margin-left font-italic small-text">
          This gives the requestor the ability to input non-standard expenses
        </div>
      </div>
    </div>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="projectFormGroup">
  <button
    type="button"
    class="btn btn-warning-outline"
    (click)="cancelCreate()">
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="saveNew()"
    cdkFocusInitial
    [disabled]="!projectFormGroup.valid">
    <clr-icon shape="check"></clr-icon>&nbsp;Save Project
  </button>
</mat-dialog-actions>
