<div class="p-4 project-form" fxLayout="column" *ngIf="project">
  <mat-toolbar class="alt">
    <mat-toolbar-row class="alt">
      <div *ngIf="!newProject">
        <a href="/projects" class="primary-link">Projects</a>&nbsp;>
        <span>{{project.id}}</span>
      </div>
      <div *ngIf="newProject">
        NEW PROJECT
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <div fxLayout="column" fxLayoutGap="24px">
    <form [formGroup]="projectFormGroup" fxLayout="column">
      <mat-toolbar class="project-info-row">
        <mat-toolbar-row>
          <div class="project-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="project-label" fxFlex>PROJECT ID</label>
            <div fxFlex>{{project.id}}</div>
          </div>
          <div *ngIf="!newProject" class="project-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="project-label" fxFlex>OPEN REQUESTS</label>
            <div fxFlex>{{project.openRequests}}</div>
          </div>
          <div class="project-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="project-label" fxFlex>PROJECT OWNER</label>
            <div fxFlex>{{project.owner}}</div>
          </div>

        </mat-toolbar-row>
      </mat-toolbar>
      <mat-toolbar *ngIf="!newProject" style="margin-top: 8px;" class="bordered">
        <mat-toolbar-row class="mat-toolbar-white">
          <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="cost-label" fxFlex>EQUIPMENT COSTS</label>
            <div fxFlex>{{19459 | currency}}</div>
          </div>
          <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="cost-label" fxFlex>LABOR COSTS</label>
            <div fxFlex>{{4236 | currency}}</div>
          </div>
          <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="cost-label" fxFlex>MATERIAL COSTS</label>
            <div fxFlex>{{15216 | currency}}</div>
          </div>
          <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="cost-label" fxFlex>OTHER COSTS</label>
            <div fxFlex>{{345 | currency}}</div>
          </div>
          <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="cost-label" fxFlex>SUBCONTRACTOR COSTS</label>
            <div fxFlex>{{38911 | currency}}</div>
          </div>
          <div class="total-cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="cost-label" fxFlex>TOTAL COSTS</label>
            <div fxFlex>{{38911 | currency}}</div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="p-20 m-10" fxLayout="column" fxLayoutGap="14px">
        <label class="project-heading">INIVITED CONTRACTORS</label>

        <mat-form-field>
          <mat-select placeholder="Select Contractors" [(ngModel)]="project.invitedContractors" formControlName="invitedContractors"
            multiple>
            <mat-select-trigger>

              <span *ngIf="project.invitedContractors.length > 1" class="example-additional-selection">
                {{project.invitedContractors[0].name}} &nbsp;(+{{project.invitedContractors.length - 1}} others)
              </span>
              <span *ngIf="project.invitedContractors.length == 1" class="example-additional-selection">
                {{project.invitedContractors[0].name}}
              </span>
              <span *ngIf="project.invitedContractors.length == 0" class="example-additional-selection">
                {{''}}
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let choice of contractors$ | async" [value]="choice">{{choice.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="p-20 m-0" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="14px">
        <label class="project-heading">ALLOWED COST TYPES</label>
        <div fxFlex fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="center start">
          <label class="cost-label m-10" fxFlex>Select All That Apply</label>
          <div fxFlex fxLayout="row" fxLayoutGap="18px" fxLayoutAlign="center center">
            <mat-checkbox (change)="toggleCheckbox('equipment',$event)" [ngModel]="project.equipmentCostsEnabled" formControlName="equipmentCostsCheckbox">Equipment Costs</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('labor',$event)" [ngModel]="project.laborCostsEnabled" formControlName="laborCostsCheckbox">Labor Costs</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('material',$event)" [ngModel]="project.materialCostsEnabled" formControlName="materialCostsCheckbox">Material Costs</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('other',$event)" [ngModel]="project.otherCostsEnabled" formControlName="otherCostsCheckbox">Other Costs</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('subcontractor',$event)" [ngModel]="project.subcontractorCostsEnabled" formControlName="subcontractorCostsCheckbox">Subcontractor Costs</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="p-20 m-0" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="14px">
        <mat-form-field fxFlex class="m-t-30 width-85">
          <textarea matInput formControlName="projectInstructions" placeholder="Project Instructions" matTextareaAutosize matAutosizeMinRows="12"
            matAutosizeMaxRows="25"></textarea>
        </mat-form-field>



      </div>
    </form>


    <div></div>
  </div>
  <mat-dialog-actions *ngIf="newProject">

    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-raised-button color="accent" (click)="saveNew()">Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
