<div class="px-1 full-width" *ngIf="project">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="full-width">
    <div class="px-2 card-header">
      <div class="full-width row align-items-center justify-content-between">
        <h1 class="project-label no-top-margin">{{ project.name }}</h1>
        <div class="spacer"></div>
        <!--
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voicemail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
        -->
      </div>
      <div class="full-width row align-items-center justify-content-between">
        <div class="cost-column">
          <h6 class="cost-label">LABOR COSTS</h6>
          <div>{{ project.laborTotal | currency }}</div>
        </div>
        <div class="cost-column">
          <h6 class="cost-label">EQUIPMENT COSTS</h6>
          <div>{{ project.equipmentTotal | currency }}</div>
        </div>
        <div class="cost-column">
          <h6 class="cost-label">MATERIAL COSTS</h6>
          <div>{{ project.materialTotal | currency }}</div>
        </div>
        <div class="cost-column">
          <h6 class="cost-label">OTHER COSTS</h6>
          <div>{{ project.otherTotal | currency }}</div>
        </div>
        <div class="cost-column">
          <h6 class="cost-label">SUBCONTRACTOR COSTS</h6>
          <div>{{ project.subcontractorTotal | currency }}</div>
        </div>
        <div class="cost-column">
          <h6 class="cost-label">TOTAL COSTS</h6>
          <div>{{ project.total | currency }}</div>
        </div>
      </div>
      <div *ngIf="project" class="row mt-1 align-items-center">
        <button
          type="button"
          *ngIf="canSubmitRequests"
          (click)="createRequest()"
          class="btn btn-primary"
          color="primary"
        >
          Create Request
        </button>
        <button
          type="button"
          *ngIf="
            canChangeSettings &&
            (project.draftRequests &&
              project.draftRequests.length === 0 &&
              (project.pendingRequests && project.pendingRequests.length === 0))
          "
          (click)="completeProject()"
          class="btn btn-success"
        >
          Archive Project
        </button>
        <div class="spacer"></div>
        <section class="row align-items-center pr-1">
          <h5 class="no-top-margin">View Project Total Costs for:&nbsp;</h5>
          <div class="checkbox checkbox-padding" *ngIf="canSubmitRequests">
            <input
              type="checkbox"
              [(ngModel)]="draftCosts"
              (change)="calculateCosts()"
              id="check1"
              checked
            />
            <label
              for="check1"
              class="no-bottom-margin"
              [class.cost-selection]="draftCosts"
              >DRAFT</label
            >
          </div>
          <div class="checkbox checkbox-padding">
            <input
              type="checkbox"
              [(ngModel)]="pendingCosts"
              (change)="calculateCosts()"
              id="check2"
              checked
            />
            <label
              for="check2"
              class="no-bottom-margin"
              [class.cost-selection]="pendingCosts"
              >PENDING</label
            >
          </div>
          <div class="checkbox checkbox-padding">
            <input
              type="checkbox"
              id="check3"
              (change)="calculateCosts()"
              [(ngModel)]="completeCosts"
              checked
            />
            <label
              for="check3"
              class="no-bottom-margin"
              [class.cost-selection]="completeCosts"
              >COMPLETE</label
            >
          </div>
        </section>
      </div>
    </div>
    <div class="mt-1 full-width">
      <clr-tabs class="col-2">
        <clr-tab *ngIf="canSubmitRequests">
          <button clrTabLink class="align-items-center">
            <clr-icon shape="note"></clr-icon>
            Draft Requests <strong>({{ project.draftRequests.length }})</strong>
          </button>
          <clr-tab-content *clrIfActive>
            <app-requests
              [items]="project.draftRequests"
              [projectId]="project.id"
              [status]="'DRAFT'"
              (changed)="refreshItems()"
              (duplicated)="refreshItems()"
              [submitRequests]="canSubmitRequests"
            ></app-requests>
          </clr-tab-content>
        </clr-tab>
        <clr-tab
          *ngIf="project.pendingRequests && project.pendingRequests.length > 0"
        >
          <button clrTabLink class="align-items-center">
            <clr-icon shape="tasks"></clr-icon>
            Pending Requests
            <strong>({{ project.pendingRequests.length }})</strong>
          </button>
          <clr-tab-content *clrIfActive>
            <app-requests
              [items]="project.pendingRequests"
              [projectId]="project.id"
              [status]="'PENDING'"
              (duplicated)="refreshItems()"
              [submitRequests]="canSubmitRequests"
            ></app-requests>
          </clr-tab-content>
        </clr-tab>
        <clr-tab
          *ngIf="
            project.completeRequests && project.completeRequests.length > 0
          "
        >
          <button clrTabLink class="align-items-center">
            <clr-icon shape="check"></clr-icon>
            Complete Requests
            <strong>({{ project.completeRequests.length }})</strong>
          </button>
          <clr-tab-content *clrIfActive>
            <app-requests
              [items]="project.completeRequests"
              [projectId]="project.id"
              [status]="'COMPLETE'"
              (duplicated)="refreshItems()"
              [submitRequests]="canSubmitRequests"
            ></app-requests>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="isUserAdmin">
          <button clrTabLink class="align-items-center">
            <clr-icon shape="users"></clr-icon>
            Requestors <strong>({{ project.requestors.length }})</strong>
          </button>
          <clr-tab-content *clrIfActive>
            <div class="px-2 full-width">
              <app-user-list
                [users]="project.requestors"
                [projectId]="project.id"
                [type]="'REQUESTOR'"
                [newProject]="newProject"
                (changed)="refreshUsers()"
              ></app-user-list>
            </div>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="isUserAdmin">
          <button clrTabLink class="align-items-center">
            <clr-icon shape="users"></clr-icon>
            Approvers & Observers <strong>({{ project.users.length }})</strong>
          </button>
          <clr-tab-content *clrIfActive>
            <div class="px-2 full-width">
              <app-user-list
                [users]="project.users"
                [type]="'USERS'"
                [projectId]="project.id"
                [newProject]="newProject"
                (changed)="refreshUsers()"
              ></app-user-list>
            </div>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="canSubmitRequests">
          <button clrTabLink>
            <clr-icon shape="ruler-pencil"></clr-icon>&nbsp;Project Assets
          </button>
          <clr-tab-content *clrIfActive>
            <app-equipment [projectId]="project.id"></app-equipment>
            <app-labor [projectId]="project.id"></app-labor>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="canChangeSettings">
          <button clrTabLink>
            <clr-icon shape="cog"></clr-icon>&nbsp;Settings
          </button>
          <clr-tab-content *clrIfActive>
            <div class="content full-width px-2">
              <form class="full-width" [formGroup]="projectFormGroup">
                <section class="form-block">
                  <div class="row no-margin-left align-items-center">
                    <label class="no-bottom-margin" for="pr-1">Zip Code:</label>
                    <div class="pl-1 pr-1">
                      <input
                        type="text"
                        name="zipcode"
                        size="7"
                        maxlength="9"
                        formControlName="zipcode"
                        placeholder="project zip code"
                      />
                    </div>
                    <label class="required no-bottom-margin pr-1"
                      >State:
                    </label>
                    <div class="w-25">
                      <ng-select class="full-width" formControlName="state">
                        <ng-option
                          *ngFor="let state of states"
                          [value]="state.value"
                          >{{ state.label }}</ng-option
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="row no-margin-left font-italic small-text">
                    <i class="material-icons md-20 md-dark"> info </i
                    >&nbsp;CostTrax uses zip code information to look up local
                    rental rates when auditing submitted equipment costs
                  </div>
                </section>

                <section class="form-block">
                  <div class="form-block">
                    <label for="formFields_8">Instructions:</label>
                    <div class="row no-margin-left font-italic small-text">
                      <i class="material-icons md-20 md-dark"> info </i
                      >&nbsp;Include any relevant instructions or information
                      for users submitting requests on this project.
                    </div>
                    <textarea
                      id="formFields_8"
                      rows="3"
                      formControlName="projectInstructions"
                    ></textarea>
                  </div>
                </section>
                <section class="form-block">
                  <h4 class="project-heading pb-1">Allowable Costs</h4>

                  <div class="cost-section mb-1" *ngIf="accountSynced">
                    <div class="row no-margin-left cost-title full-width">
                      <mat-checkbox
                        type="checkbox"
                        matRipple
                        id="activeCheck"
                        (change)="toggleCheckbox('equipment', $event)"
                        formControlName="activeCheck"
                      >
                      </mat-checkbox>
                      <h4
                        class="pl-1 no-top-margin no-bottom-margin
                        align-items-center"
                      >
                        Equipment, Active
                      </h4>
                    </div>

                    <div class="cost-content px-1 pb-1">
                      <label class="bold-label">Formula:</label>
                      <ng-select
                        class="w-25"
                        [items]="activeFormulas"
                        bindValue="name"
                        bindLabel="label"
                        placeholder="Choose Formula"
                        clearAllText="Clear"
                        [closeOnSelect]="true"
                        [hideSelected]="true"
                        appendTo="body"
                        formControlName="activeFormula"
                      >
                      </ng-select>
                      <div class="row no-margin-left font-italic small-text">
                        (Rental Rate Blue Book Monthly Ownership
                        Cost/176)+(Rental Rate Blue Book Hourly Operating Cost)
                      </div>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <label class="bold-label">Rate Adjustments:</label>
                      <div class="px-1">
                        <div class="checkbox">
                          <input
                            type="checkbox"
                            matRipple
                            id="activeRegionalCheck"
                            formControlName="activeRegionalCheck"
                          />
                          <label for="activeRegionalCheck"
                            >Use regional adjustment</label
                          >
                        </div>
                        <div
                          class="row no-margin-left pb-1 w-50
                          align-items-center"
                        >
                          <label class="no-bottom-margin"
                            >Reimbursable %, Ownership Cost:</label
                          >
                          <div class="spacer"></div>
                          <nz-input-number
                            formControlName="activeOwnershipCost"
                            [nzMin]="1"
                            [nzMax]="100"
                            [nzStep]="1"
                            [nzFormatter]="formatterPercent"
                            [nzParser]="parserPercent"
                          ></nz-input-number>
                        </div>
                        <div
                          class="row no-margin-left pb-1 w-50
                          align-items-center"
                        >
                          <label class="no-bottom-margin"
                            >Reimbursable %, Operating Cost:</label
                          >
                          <div class="spacer"></div>
                          <nz-input-number
                            formControlName="activeOperatingCost"
                            [nzMin]="1"
                            [nzMax]="100"
                            [nzStep]="1"
                            [nzFormatter]="formatterPercent"
                            [nzParser]="parserPercent"
                          ></nz-input-number>
                        </div>
                      </div>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <div class="bold-label">Markup:</div>
                      <div class="row no-margin-left">
                        <nz-input-number
                          formControlName="activeMarkup"
                          [nzMin]="1"
                          [nzMax]="100"
                          [nzStep]="1"
                          [nzFormatter]="formatterPercent"
                          [nzParser]="parserPercent"
                        ></nz-input-number>
                        <div class="spacer"></div>
                        <div
                          class="row no-margin-left font-italic small-text"
                          style="padding-right: 1rem"
                        >
                          <i class="material-icons md-20 md-dark"> info </i
                          >&nbsp;Rate Adjustments will be applied anywhere rates
                          are displayed<br />
                          in CostTrax. Markup applied to Totals and
                          Recapitulation only.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="cost-section mb-1" *ngIf="accountSynced">
                    <div class="row no-margin-left cost-title full-width">
                      <mat-checkbox
                        type="checkbox"
                        matRipple
                        id="standbyCheck"
                        (change)="toggleCheckbox('standby', $event)"
                        formControlName="standbyCheck"
                      >
                      </mat-checkbox>
                      <h4
                        class="pl-1 no-top-margin no-bottom-margin
                        align-items-center"
                      >
                        Equipment, Standby
                      </h4>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <label class="bold-label">Formula:</label>
                      <ng-select
                        class="w-50"
                        [items]="standbyFormulas"
                        bindValue="name"
                        bindLabel="label"
                        placeholder="Choose Formula"
                        clearAllText="Clear"
                        [closeOnSelect]="true"
                        [hideSelected]="true"
                        appendTo="body"
                        formControlName="standbyFormula"
                      >
                      </ng-select>
                      <div class="row no-margin-left font-italic small-text">
                        (Rental Rate Blue Book Monthly Ownership Cost/176)*0.5
                      </div>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <label class="bold-label">Rate Adjustments:</label>
                      <div class="px-1">
                        <div class="checkbox">
                          <input
                            type="checkbox"
                            matRipple
                            id="standbyRegionalCheck"
                            formControlName="standbyRegionalCheck"
                          />
                          <label for="standbyRegionalCheck"
                            >Use regional adjustment</label
                          >
                        </div>
                      </div>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <div class="bold-label">Markup:</div>
                      <div class="row no-margin-left">
                        <nz-input-number
                          formControlName="standbyMarkup"
                          [nzMin]="1"
                          [nzMax]="100"
                          [nzStep]="1"
                          [nzFormatter]="formatterPercent"
                          [nzParser]="parserPercent"
                        ></nz-input-number>
                        <div class="spacer"></div>
                        <div
                          class="row no-margin-left font-italic small-text"
                          style="padding-right: 1rem"
                        >
                          <i class="material-icons md-20 md-dark"> info </i
                          >&nbsp;Rate Adjustments will be applied anywhere rates
                          are displayed<br />
                          in CostTrax. Markup applied to Totals and
                          Recapitulation only.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cost-section mb-1" *ngIf="accountSynced">
                    <div class="row no-margin-left cost-title full-width">
                      <mat-checkbox
                        type="checkbox"
                        matRipple
                        id="rentalCheck"
                        (change)="toggleCheckbox('rental', $event)"
                        formControlName="rentalCheck"
                      >
                      </mat-checkbox>
                      <h4
                        class="pl-1 no-top-margin no-bottom-margin
                        align-items-center"
                      >
                        Equipment, Rental
                      </h4>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <label class="bold-label">Formula:</label>
                      <div class="row no-margin-left font-italic small-text">
                        Invoice Amount + Hourly Operating Cost
                      </div>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <div class="bold-label">Markup:</div>
                      <div class="row no-margin-left">
                        <nz-input-number
                          formControlName="rentalMarkup"
                          [nzMin]="1"
                          [nzMax]="100"
                          [nzStep]="1"
                          [nzFormatter]="formatterPercent"
                          [nzParser]="parserPercent"
                        ></nz-input-number>
                      </div>
                    </div>
                  </div>
                  <div class="cost-section mb-1">
                    <div class="row no-margin-left cost-title full-width">
                      <mat-checkbox
                        type="checkbox"
                        matRipple
                        id="materialCheck"
                        (change)="toggleCheckbox('material', $event)"
                        formControlName="materialCheck"
                      >
                      </mat-checkbox>
                      <h4
                        class="pl-1 no-top-margin no-bottom-margin
                        align-items-center"
                      >
                        Material
                      </h4>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <label class="bold-label">Formula:</label>
                      <div class="row no-margin-left font-italic small-text">
                        Invoice Amount
                      </div>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <div class="bold-label">Markup:</div>
                      <div class="row no-margin-left">
                        <nz-input-number
                          formControlName="materialMarkup"
                          [nzMin]="1"
                          [nzMax]="100"
                          [nzStep]="1"
                          [nzFormatter]="formatterPercent"
                          [nzParser]="parserPercent"
                        ></nz-input-number>
                      </div>
                    </div>
                  </div>
                  <div class="cost-section mb-1">
                    <div class="row no-margin-left cost-title full-width">
                      <mat-checkbox
                        type="checkbox"
                        matRipple
                        id="laborCheck"
                        (change)="toggleCheckbox('labor', $event)"
                        formControlName="laborCheck"
                      >
                      </mat-checkbox>
                      <h4
                        class="pl-1 no-top-margin no-bottom-margin
                        align-items-center"
                      >
                        Labor
                      </h4>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <label class="bold-label">Formula:</label>
                      <div class="row no-margin-left font-italic small-text">
                        Hourly Rate + Fringe Benefits
                      </div>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <div class="bold-label">Markup:</div>
                      <div class="row no-margin-left">
                        <nz-input-number
                          formControlName="laborMarkup"
                          [nzMin]="1"
                          [nzMax]="100"
                          [nzStep]="1"
                          [nzFormatter]="formatterPercent"
                          [nzParser]="parserPercent"
                        ></nz-input-number>
                      </div>
                    </div>
                  </div>
                  <div class="cost-section mb-1">
                    <div class="row no-margin-left cost-title full-width">
                      <mat-checkbox
                        type="checkbox"
                        matRipple
                        id="subcontractorCheck"
                        (change)="toggleCheckbox('subcontractor', $event)"
                        formControlName="subcontractorCheck"
                      >
                      </mat-checkbox>
                      <h4
                        class="pl-1 no-top-margin no-bottom-margin
                        align-items-center"
                      >
                        Subcontractor
                      </h4>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <label class="bold-label">Formula:</label>
                      <div class="row no-margin-left font-italic small-text">
                        Invoice Amount
                      </div>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <div class="bold-label">Markup:</div>
                      <div class="row no-margin-left">
                        <nz-input-number
                          formControlName="subcontractorMarkup"
                          [nzMin]="1"
                          [nzMax]="100"
                          [nzStep]="1"
                          [nzFormatter]="formatterPercent"
                          [nzParser]="parserPercent"
                        ></nz-input-number>
                      </div>
                    </div>
                  </div>
                  <div class="cost-section mb-1">
                    <div class="row no-margin-left cost-title full-width">
                      <mat-checkbox
                        type="checkbox"
                        matRipple
                        id="otherCheck"
                        (change)="toggleCheckbox('other', $event)"
                        formControlName="otherCheck"
                      >
                      </mat-checkbox>
                      <h4
                        class="pl-1 no-top-margin no-bottom-margin
                        align-items-center"
                      >
                        Other
                      </h4>
                    </div>
                    <div class="cost-content px-1 pb-1">
                      <div class="row no-margin-left font-italic small-text">
                        This gives the requestor the ability to input
                        non-standard expenses
                      </div>
                    </div>
                  </div>
                </section>
              </form>
            </div>

            <div class="p-20 d-flex flex-row flex-row-reverse">
              <button
                class="btn btn-primary"
                (click)="saveProject()"
                [disabled]="!projectFormGroup.dirty"
              >
                Save
              </button>
              <button
                class="btn btn-outline-warning"
                (click)="revertChanges()"
                [disabled]="!projectFormGroup.dirty"
              >
                Cancel
              </button>
            </div>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>
