@import 'src/styles/styles';

#contacts {
  .content {
    overflow: hidden;
  }

  .mat-primary-bg {
    background-color: mat-color($primary, 500, 0.9);
  }

  .mat-accent-bg {
    background-color: mat-color($primary, 500, 0.9);
  }
}
