.red {
    color: rgba(255, 0, 0, 0.77) !important;
    font-weight: bold;
}

.action-buttons {
    display: flex;
    position: relative;
}

.machine-edit {
    padding-top: 8px;
}

nz-date-picker,
nz-month-picker,
nz-range-picker,
nz-week-picker {
    margin: 0 8px 12px 0;
}

nz-input-number {
    margin-right: 8px;
}

clr-dg-row {
    transition: background-color 0.5s ease;
}

.pts-1 {}

.small-text {
    font-size: 75%;
    font-weight: bold;
}

.rate-icon {
    height: 16px !important;
    width: 16px !important;
}

.big-text {
    font-size: 150%;
}

.right {
    text-align: right !important;
}

.comparison-table {
    padding: 2px;
}

.comparison-table td {
    vertical-align: middle !important;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.no-border,
.no-border * {
    background: inherit !important;
    border: none !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.line-item-font-size {
    font-size: 13px !important;
}

.mat-icon-position {}

.badge-position {
    position: relative;
    left: 35px;
    top: -6px;
}

.notify-badge {
    position: absolute;
    right: -3px;
    top: 0;
    background: red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 6px 5px;
    font-size: 12px;
}

.accent-badge {
    position: absolute;
    right: -2px;
    top: 0;
    background: #1890ff;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 0;
    font-size: 14px;
}

.row-margins {
    margin-left: -15px;
}
