<div id="projects" class="container" fxLayoutAlign="start stretch" fxLayout="column">

  <mat-toolbar class="info-row">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button color="primary">
        Create New Project
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="start center">
    <label for="search" class="mr-8">
      <mat-icon>search</mat-icon>
    </label>
    <mat-form-field mat-no-float class="m-0" floatPlaceholder="never">
      <input matInput [formControl]="searchInput" id="search" placeholder="Search Requests...">
    </mat-form-field>
  </div>




  <!-- CONTENT -->
  <div class="content">

    <app-projects-list style="width:100%; max-height:50vh; overflow:auto"></app-projects-list>

  </div>
  <!-- / CONTENT -->




</div>
