@import 'src/styles/styles';

#projects {
  .content {
    overflow: hidden;
  }

  .info-row {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    margin-top: 10px;
    border: 2px solid mat-color($mat-fusedark, 100, 0.9);
    background-color: mat-color($mat-fusedark, 50, 0.9);
  }

  .mat-primary-bg {
    background-color: mat-color($primary, 500, 0.9);
  }

  .mat-accent-bg {
    background-color: mat-color($primary, 500, 0.9);
  }
}

.mat-table {
  overflow: auto;
  max-height: 500px !important;
}
