<div class="projects pt-1 mb-1">
  <div class="full-width px-2">
    <div class="row full-width px-1 align-items-center justify-content-center">
      <h2 class="no-top-margin">Projects</h2>
      <div class="spacer"></div>

      <button
        *ngIf="canCreateProjects"
        class="btn btn-primary"
        matTooltip="Create Project"
        (click)="createProject()">
        <clr-icon class="is-solid" shape="add"></clr-icon>
        <span>Project</span>
      </button>
      <button
        *ngIf="canSubmitRequests &&
        requestableProjects &&
        requestableProjects.length> 0
        "
        class="btn btn-primary"
        matTooltip="Create Request"
        (click)="createRequest()"
        >
        <clr-icon class="is-solid" shape="add"></clr-icon>
        <span>&nbsp;Request</span>
      </button>
    </div>

    <clr-tabs class="col-2">
      <clr-tab>
        <button clrTabLink class="align-items-center">
          <clr-icon shape="note"></clr-icon>
          Active Projects
          <strong>({{ (activeProjects$ | async)?.length }})</strong>
        </button>
        <clr-tab-content *clrIfActive>
          <app-projects-list [projects]="activeProjects$"> </app-projects-list>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink class="align-items-center">
          <clr-icon shape="tasks"></clr-icon>
          Archived Projects
          <strong>({{ (archivedProjects$ | async)?.length }})</strong>
        </button>
        <clr-tab-content *clrIfActive>
          <app-projects-list [projects]="archivedProjects$">
          </app-projects-list>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
</div>
