<h2 mat-dialog-title>NEW REQUEST</h2>
<mat-dialog-content>
  <div [formGroup]="projectForm" class="pt-1 pb-1">
    <h4 class="no-top-margin">Select Project:</h4>
    <div>
      <ng-select
        required
        [items]="projects"
        bindValue="id"
        bindLabel="name"
        placeholder="Choose Project"
        clearAllText="Clear"
        [closeOnSelect]="true"
        [hideSelected]="true"
        appendTo="body"
        formControlName="selectedProjectControl"
      >
      </ng-select>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-warning-outline" type="button" (click)="cancel()">
    Cancel
  </button>
  <button
    class="btn btn-primary"
    type="button"
    [disabled]="!projectForm.valid"
    (click)="confirm()"
  >
    Ok
  </button>
</mat-dialog-actions>
