<div *ngIf="mode === 'login'" class="container full-height mt-5">
  <div class="row full-height justify-content-center align-items-center">
    <form
      class="col-6 full-height"
      (submit)="login()"
      [formGroup]="loginForm"
      novalidate
    >
      <div class="login-box card no-border header-bg">
        <clr-header
          class="header header-6  align-items-center justify-content-center pb-5 pt-5"
        >
          <img
            class="logo"
            alt="logo"
            width="350"
            src="../assets/img/costtrax.png"
          />
        </clr-header>
        <div class="px-2 pt-2 form-bg">
          <div class="full-width">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Email"
                type="email"
                formControlName="email"
                required
              />
              <mat-error
                *ngIf="
                  loginForm.get('email').hasError('email') &&
                  !loginForm.get('email').hasError('required')
                "
              >
                Please enter a <strong>valid email address</strong>
              </mat-error>
              <mat-error *ngIf="loginForm.get('email').hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="full-width pt-1">
            <mat-form-field class="fw">
              <input
                class="full-width"
                type="password"
                matInput
                formControlName="password"
                autocomplete="current-password"
                [placeholder]="'Password'"
                required
              />
              <mat-error
                *ngIf="
                  !loginForm.get('password').valid ||
                  loginForm.get('password').untouched
                "
              >
                <span translate>Password is <strong>required</strong> </span>
              </mat-error>
            </mat-form-field>
            <button
              tabindex="-1"
              type="button"
              disabled="true"
              class="btn btn-link ripple"
              (click)="forgetPassword()"
            >
              <span>Forgot Password?</span>
            </button>
          </div>

          <div class="login-error" [hidden]="!error || isLoading">
            Email or password incorrect.
          </div>

          <br />

          <div class="footer d-flex row justify-content-center pb-2">
            <button
              class="btn btn-primary ripple btn-dark login-btn"
              type="submit"
              cdkFocusInitial
              [disabled]="loginForm.invalid || isLoading"
            >
              <app-loader
                class="inline-loader"
                [isLoading]="isLoading"
              ></app-loader>
              <span>Login</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="mode === 'change'" class="container full-height mt-5" [@slideInOut]>
  <div class="row full-height justify-content-center align-items-center">
    <form class="col-6 full-height" [formGroup]="loginForm" novalidate>
      <div class="login-box card no-border header-bg">
        <clr-header
          class="header header-6  align-items-center justify-content-center pb-5 pt-5"
        >
          <img
            class="logo"
            alt="logo"
            width="350"
            src="../assets/img/costtrax.png"
          />
        </clr-header>
        <div
          class="full-width justify-content-center align-items-center px-2 pt-1"
        >
          <h3>CHANGE PASSWORD</h3>
        </div>
        <div class="px-2 pt-2 form-bg">
          <div class="full-width">
            <mat-form-field class="full-width">
              <input
                class="full-width"
                type="text"
                matInput
                formControlName="email"
                autocomplete="current-email"
                [placeholder]="'Email'"
                required
              />
              <mat-error
                *ngIf="
                  !loginForm.get('email').valid ||
                  loginForm.get('email').untouched
                "
              >
                <span> <strong>Valid</strong> Email is required</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="full-width">
            <mat-form-field class="full-width">
              <input
                class="full-width"
                type="password"
                matInput
                formControlName="password"
                autocomplete="current-password"
                [placeholder]="'Current Password'"
                required
              />
              <mat-error
                *ngIf="
                  !loginForm.get('password').valid ||
                  loginForm.get('password').untouched
                "
              >
                <span translate>Current Password is required</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="full-width mt-2">
            <mat-form-field class="full-width">
              <input
                type="password"
                matInput
                placeholder="New password"
                formControlName="confirm_password"
                required
              />
              <mat-error
                *ngIf="loginForm.hasError('required', 'confirm_password')"
              >
                Please enter your new password
              </mat-error>
            </mat-form-field>
          </div>
          <div class="full-width">
            <mat-form-field class="full-width">
              <input
                type="password"
                matInput
                placeholder="Confirm password"
                formControlName="confirm_password2"
                [errorStateMatcher]="matcher"
                required
              />
              <mat-error *ngIf="loginForm.hasError('notSame')">
                Passwords do not match
              </mat-error>
            </mat-form-field>
          </div>
          <div class="login-error" [hidden]="!passwordError || isLoading">
            Email or password incorrect.
          </div>
          <br />

          <div class="footer d-flex row justify-content-center pb-2">
            <button
              class="btn btn-primary ripple btn-dark login-btn"
              (click)="updatePassword()"
              [disabled]="loginForm.invalid || isLoading"
            >
              <app-loader
                class="inline-loader"
                [isLoading]="isLoading"
              ></app-loader>
              <span>Login</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="mode === 'forgot'" class="container full-height mt-5" [@slideInOut]>
  <div class="row full-height justify-content-center align-items-center">
    <form class="col-6 full-height" [formGroup]="loginForm" novalidate>
      <div class="login-box card no-border header-bg">
        <clr-header
          class="header header-6  align-items-center justify-content-center pb-5 pt-5"
        >
          <img
            class="logo"
            alt="logo"
            width="350"
            src="../assets/img/costtrax.png"
          />
        </clr-header>
        <div
          class="full-width justify-content-center align-items-center px-2 pt-1"
        >
          <h3>FORGOT PASSWORD</h3>
        </div>
        <div class="px-2 pt-2 form-bg">
          <div class="full-width">
            <mat-form-field class="full-width">
              <input
                class="full-width"
                type="text"
                matInput
                formControlName="email"
                autocomplete="current-email"
                [placeholder]="'Email'"
                required
              />
              <mat-error
                *ngIf="
                  !loginForm.get('email').valid ||
                  loginForm.get('email').untouched
                "
              >
                <span> <strong>Valid</strong> Email is required</span>
              </mat-error>
            </mat-form-field>
          </div>

          <br />

          <div align="end" class="pb-2">
            <button
              class="btn btn-warning-outline login-btn ripple"
              (click)="cancelForgot()"
            >
              Cancel
            </button>
            <button
              class="btn btn-primary ripple btn-dark login-btn"
              (click)="submitForgot()"
              [disabled]="loginForm.invalid || isLoading"
            >
              <app-loader
                class="inline-loader"
                [isLoading]="isLoading"
              ></app-loader>
              <span>Reset Password</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
