<div class="px-1 pt-1 mb-2 full-width">
  <section class="full-width d-flex flex-row align-items-center">
    <h3 class="pr-1 no-top-margin" disabled="true">Owned Equipment</h3>
    <button
      type="button"
      class="btn btn-sm btn-primary"
      (click)="addModel()"
      [disabled]="!accountSynced"
    >
      Add Model
    </button>
    <button
      type="button"
      [disabled]="!accountSynced"
      class="btn btn-sm btn-primary"
      (click)="addMiscEquipment()"
    >
      Add Miscellaneous Model
    </button>
    <button type="button" class="btn btn-sm btn-primary" [disabled]="true">
      Upload Equipment
    </button>
  </section>
  <section
    class="full-width d-flex flex-row align-items-center"
    *ngIf="!accountSynced"
  >
    <h4>
      Check Your Account Details and Log in with your EQW credentials to access
    </h4>
  </section>

  <clr-datagrid *ngIf="accountSynced">
    <clr-dg-column [clrDgField]="'id'" style="width:50px">ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'make'" style="width:200px"
      >Make</clr-dg-column
    >
    <clr-dg-column [clrDgField]="'model'" style="width:200px"
      >Model</clr-dg-column
    >
    <clr-dg-column [clrDgField]="'year'" style="width:150px"
      >Year</clr-dg-column
    >
    <clr-dg-column [clrDgField]="'sizeClassName'" style="width:200px"
      >Size Class</clr-dg-column
    >
    <clr-dg-column [clrDgField]="'serial'" style="width:200px"
      >Serial</clr-dg-column
    >
    <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
    <clr-dg-column style="width:80px">Actions</clr-dg-column>
    <clr-dg-row
      *clrDgItems="let item of items; let i = index; trackBy: trackByFn"
      [clrDgItem]="item"
    >
      <clr-dg-cell>
        <div class="padding-label-top" *ngIf="item.isDraft()">
          <input
            class="full-width"
            type="text"
            (change)="modelChanged(item)"
            [(ngModel)]="item.details.id"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div *ngIf="!item.isDraft()">
          {{ item.details ? item.details.id : '' }}
        </div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div *ngIf="item.isDraft()">
          <app-equipment-select
            type="make"
            [index]="i"
            (selected)="makeSelectionChanged($event)"
            [initialEquipment]="item"
          ></app-equipment-select>
        </div>
        <div *ngIf="!item.isDraft()">{{ item.make }}</div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div *ngIf="item.isDraft()">
          <app-equipment-select
            [makeId]="item.makeId"
            [index]="i"
            (selected)="modelSelectionChanged($event)"
            [initialEquipment]="item"
            [shouldDisable]="!item.makeId"
            type="model"
          ></app-equipment-select>
        </div>
        <div *ngIf="!item.isDraft()">{{ item.model }}</div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div *ngIf="item.isDraft()">
          <ng-select
            [disabled]="!item.modelId"
            [items]="item.years"
            dropdownPosition="top"
            appendTo="body"
            (change)="yearSelectionChanged(item, i)"
            bindLabel="year"
            bindValue="year"
            placeholder="Year"
            clearAllText="Clear"
            [closeOnSelect]="true"
            [clearable]="true"
            [hideSelected]="true"
            [(ngModel)]="item.year"
            [ngModelOptions]="{ standalone: true }"
          >
          </ng-select>
        </div>
        <div *ngIf="!item.isDraft()">{{ item.year }}</div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div class="padding-label-top" *ngIf="item.isDraft()">
          {{ item.sizeClassName }}
        </div>
        <div *ngIf="!item.isDraft()">{{ item.sizeClassName }}</div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div
          class="
          padding-label-top"
          *ngIf="item.isDraft()"
        >
          <input
            class="full-width"
            type="text"
            (change)="modelChanged(item)"
            [(ngModel)]="item.details.vin"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div *ngIf="!item.isDraft()">{{ item.details.vin }}</div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div class="padding-label-top" *ngIf="item.isDraft()">
          <input
            class="full-width"
            type="text"
            (change)="modelChanged(item)"
            [(ngModel)]="item.description"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div *ngIf="!item.isDraft()">{{ item.description }}</div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div class="row justify-content-end">
          <button
            *ngIf="item.isDraft()"
            class="ripple icon-30  icon-button
            pr-1"
            matTooltip="Save"
            (click)="saveChanges(i, item)"
          >
            <mat-icon color="accent">done</mat-icon>
          </button>
          <button
            *ngIf="!item.isDraft()"
            class="ripple icon-30 icon-button
                      pr-1"
            matTooltip="Edit"
            (click)="editItem(i, item)"
          >
            <mat-icon color="accent">edit</mat-icon>
          </button>
          <button
            class="ripple icon-button icon-30 pr-1"
            *ngIf="item.beingEdited"
            matTooltip="Undo Edits"
            (click)="revertEdits(i, item)"
          >
            <mat-icon color="accent">undo</mat-icon>
          </button>
          <button
            class="ripple icon-button icon-30 pr-1"
            *ngIf="!item.beingEdited"
            matTooltip="Remove"
            (click)="remove(i, item)"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
      </clr-dg-cell>
      <ng-container
        ngProjectAs="clr-dg-row-detail"
        *ngIf="item.modelId && item.year"
      >
        <clr-dg-row-detail *clrIfExpanded>
          <div>
            <h5>Model Configuration</h5>
            <table
              id="invoice-table"
              *ngIf="item.details.configurations"
              class="mt-3p table table-compact
                                                      table-bordered table-striped comparison-table"
            >
              <thead>
                <th *ngFor="let column of item.details.configurations.columns">
                  {{ column.name }}
                </th>
              </thead>
              <tbody>
                <tr class="justify-content-center">
                  <td
                    *ngFor="let column of item.details.configurations.columns"
                  >
                    {{ item.details.selectedConfiguration[column.name] }}
                  </td>
                </tr>
              </tbody>
            </table>

            <h5>Rental Rate Blue Book Ownership & Operating Costs</h5>
            <table
              id="invoice-table"
              *ngIf="item.details.selectedConfiguration"
              class="w-50 mt-3p table table-compact table-bordered table-striped comparison-table"
            >
              <thead style="display:none">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <tr class="justify-content-center">
                  <td></td>
                  <td colspan="4">Ownership</td>
                  <td>Operating</td>
                </tr>
                <tr class="justify-content-center">
                  <td></td>
                  <td>Monthly</td>
                  <td>Weekly</td>
                  <td>Daily</td>
                  <td>Hourly</td>
                  <td>Hourly</td>
                </tr>
                <tr class="justify-content-center">
                  <td class="strong">Cost</td>
                  <td>
                    {{
                      item.details.selectedConfiguration.monthlyOwnershipCost
                    }}
                  </td>
                  <td>
                    {{ item.details.selectedConfiguration.weeklyOwnershipCost }}
                  </td>
                  <td>
                    {{ item.details.selectedConfiguration.dailyOwnershipCost }}
                  </td>
                  <td>
                    {{ item.details.selectedConfiguration.hourlyOwnershipCost }}
                  </td>
                  <td>
                    {{ item.details.selectedConfiguration.hourlyOperatingCost }}
                  </td>
                </tr>
                <tr class="justify-content-center">
                  <td class="strong">Hourly Conversion</td>
                  <td>176</td>
                  <td>40</td>
                  <td>8</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr class="justify-content-center">
                  <td class="strong">Hourly Rate</td>
                  <td>
                    {{
                      item.details.rates.ownership_monthly_calculated_hourly
                        | currency
                    }}
                  </td>
                  <td>
                    {{
                      item.details.rates.ownership_weekly_calculated_hourly
                        | currency
                    }}
                  </td>
                  <td>
                    {{
                      item.details.rates.ownership_daily_calculated_hourly
                        | currency
                    }}
                  </td>
                  <td>
                    {{
                      item.details.rates.ownership_hourly_calculated_hourly
                        | currency
                    }}
                  </td>
                  <td>
                    {{
                      item.details.rates.operating_hourly_calculated_hourly
                        | currency
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
            <h5>Rate Element Allocation</h5>
            <h5 class="no-top-margin">Ownership Costs, Unadjusted (Monthly)</h5>
            <table
              id="invoice-table"
              *ngIf="item.details.selectedConfiguration"
              class="mt-3p table table-compact
                                                                                  table-bordered table-striped comparison-table w-25"
            >
              <thead>
                <th>Element</th>
                <th>Percentage</th>
                <th>Amount</th>
              </thead>
              <tbody>
                <tr class="justify-content-center">
                  <td class="strong">Depreciation</td>
                  <td>
                    {{
                      100 * item.details.selectedConfiguration.depreciation
                        | number: '1.2-2'
                    }}%
                  </td>
                  <td>
                    {{
                      item.details.selectedConfiguration.depreciation *
                        item.details.selectedConfiguration.monthlyOwnershipCost
                        | currency
                    }}
                  </td>
                </tr>
                <tr class="justify-content-center">
                  <td class="strong">Overhaul</td>
                  <td>
                    {{
                      100 * item.details.selectedConfiguration.overhaul
                        | number: '1.2-2'
                    }}%
                  </td>
                  <td>
                    {{
                      item.details.selectedConfiguration.overhaul *
                        item.details.selectedConfiguration.monthlyOwnershipCost
                        | currency
                    }}
                  </td>
                </tr>
                <tr class="justify-content-center">
                  <td class="strong">Cost of Facilities Capital</td>
                  <td>
                    {{
                      100 *
                        item.details.selectedConfiguration
                          .costOfFacitiliesCaptial | number: '1.2-2'
                    }}%
                  </td>
                  <td>
                    {{
                      item.details.selectedConfiguration
                        .costOfFacitiliesCaptial *
                        item.details.selectedConfiguration.monthlyOwnershipCost
                        | currency
                    }}
                  </td>
                </tr>
                <tr class="justify-content-center">
                  <td class="strong">Indirect</td>
                  <td>
                    {{
                      100 * item.details.selectedConfiguration.overhead
                        | number: '1.2-2'
                    }}%
                  </td>
                  <td>
                    {{
                      item.details.selectedConfiguration.overhead *
                        item.details.selectedConfiguration.monthlyOwnershipCost
                        | currency
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </clr-dg-row-detail>
      </ng-container>
    </clr-dg-row>
    <clr-dg-footer *ngIf="items">{{ items.length }} Items</clr-dg-footer>
  </clr-datagrid>
  <div
    class="align-items-center mt-1 float-right"
    align="end"
    [formGroup]="equipmentForm"
  >
    <mat-checkbox
      type="checkbox"
      matRipple
      disabled="true"
      id="activeCheck"
      formControlName="autoSave"
    ></mat-checkbox>
    <label class="no-bottom-margin disabled-text" style="padding-left: 4px">
      Automatically save new models added from requests to my Project Assets
    </label>
  </div>
</div>
