<div class="px-1 pt-1 mb-2 full-width">
  <section class="full-width d-flex flex-row align-items-center">
    <h3 class="pr-1 no-top-margin" disabled="true">Owned Equipment</h3>
    <button type="button" matTooltip="Add Model" class="btn btn-sm btn-primary" (click)="addModel()"
      [disabled]="!accountSynced">
      <clr-icon class="hidden-md-up" shape="plus"></clr-icon>
      <span class="hidden-sm-down">Add Model</span>
    </button>
    <button type="button" matTooltip="Add Miscellaneous Model" [disabled]="!accountSynced"
      class="btn btn-sm btn-primary" (click)="addMiscEquipment()">
      <clr-icon class="hidden-md-up" shape="plus-circle"></clr-icon>

      <span class="hidden-sm-down">Add Miscellaneous Model</span>
    </button>
    <button type="button" class="btn btn-sm btn-primary" [disabled]="true">
      Upload Equipment
    </button>
  </section>
  <section class="full-width d-flex flex-row align-items-center" *ngIf="!accountSynced">
    <h4>
      Check Your Account Details and Log in with your EQW credentials to access
    </h4>
  </section>

  <clr-datagrid *ngIf="accountSynced">
    <clr-dg-column [clrDgField]="'id'" style="width:50px">ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'make'" style="width:200px">Make</clr-dg-column>
    <clr-dg-column [clrDgField]="'model'" style="max-width:150px">Model</clr-dg-column>
    <clr-dg-column [clrDgField]="'year'">Year</clr-dg-column>
    <clr-dg-column [clrDgField]="'sizeClassName'" style="width:200px">Subtype & Size Class</clr-dg-column>
    <clr-dg-column [clrDgField]="'serial'">Serial</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
    <clr-dg-column>Actions</clr-dg-column>
    <clr-dg-row *clrDgItems="let item of items; let i = index; trackBy: trackByFn" [clrDgItem]="item">
      <clr-dg-cell>
        <div class="padding-label-top" *ngIf="item.isDraft()">
          <input nz-input nzSize="small" class="full-width" [(ngModel)]="item.details.id"
            [ngModelOptions]="{ standalone: true }" />
        </div>
        <div class="padding-label-top" *ngIf="!item.isDraft()">
          {{ item.details ? item.details.id : '' }}
        </div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div class="padding-label-top">
          {{ item.manufacturerName }}
        </div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div class="padding-label-top">
          {{ item.model }}
        </div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div class="padding-label-top" *ngIf="!item.misc">
          {{ item.year }}
        </div>
        <div class="padding-label-top" *ngIf="item.misc">N/A</div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div class="padding-label-top">{{ item.subSize }}</div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div class="padding-label-top" *ngIf="item.isDraft()">
          <input nz-input nzSize="small" class="full-width" [(ngModel)]="item.details.vin"
            [ngModelOptions]="{ standalone: true }" />
        </div>
        <div class="padding-label-top" *ngIf="!item.isDraft()">
          {{ item.details.vin }}
        </div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div class="padding-label-top" *ngIf="item.isDraft()">
          <input nz-input nzSize="small" class="full-width" [(ngModel)]="item.description"
            [ngModelOptions]="{ standalone: true }" />
        </div>
        <div class="padding-label-top" *ngIf="!item.isDraft()">
          {{ item.description }}
        </div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div class="row justify-content-end">
          <button *ngIf="item.isDraft()" class="ripple icon-30 icon-button
            pr-1" matTooltip="Save" (click)="saveChanges(i, item)">
            <mat-icon color="accent">done</mat-icon>
          </button>
          <button *ngIf="!item.isDraft()" class="ripple icon-30 icon-button
            pr-1" matTooltip="Edit" (click)="editItem(i, item)">
            <mat-icon color="accent">edit</mat-icon>
          </button>
          <button class="ripple icon-button icon-30 pr-1" *ngIf="item.beingEdited" matTooltip="Undo Edits"
            (click)="revertEdits(i, item)">
            <mat-icon color="accent">undo</mat-icon>
          </button>
          <button class="ripple icon-button icon-30 pr-1" *ngIf="!item.beingEdited" matTooltip="Remove"
            (click)="remove(i, item)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
      </clr-dg-cell>
      <ng-container ngProjectAs="clr-dg-row-detail" *ngIf="item.modelId && item.year">
        <clr-dg-row-detail *clrIfExpanded>
          <div class="col-10 pb-1">
            <div class="col">
              <h5 class="strong">Model Configuration</h5>
              <table id="invoice-table" *ngIf="item.specsColumns" class="mt-3p table table-compact table-bordered table-striped
                comparison-table">
                <thead>
                  <th class="left" *ngFor="let column of item.specsColumns">
                    {{ column.name }}
                  </th>
                </thead>
                <tbody>
                  <tr class="justify-content-center">
                    <td class="left" *ngFor="let column of item.specsColumns">
                      {{ item[column.name] }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col">
              <h5 class="strong">
                Rental Rate Blue Book Ownership & Operating Costs
              </h5>
              <table *ngIf="item && item.rates" class="full-width mt-3p table table-compact table-bordered
                table-striped comparison-table">
                <thead style="display:none">
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </thead>
                <tbody>
                  <tr class="justify-content-center">
                    <td></td>
                    <td class="left" colspan="4">Ownership</td>
                    <td class="left">Operating</td>
                  </tr>
                  <tr class="justify-content-center">
                    <td></td>
                    <td class="left">Monthly</td>
                    <td class="left">Weekly</td>
                    <td class="left">Daily</td>
                    <td class="left">Hourly</td>
                    <td class="left">Hourly</td>
                  </tr>
                  <tr class="justify-content-center">
                    <td class="strong left">Cost</td>
                    <td class="left">
                      {{ item.activeOwnershipAdjustedMonthly | currency }}
                    </td>
                    <td class="left">
                      {{ item.activeOwnershipAdjustedWeekly | currency }}
                    </td>
                    <td class="left">
                      {{ item.activeOwnershipAdjustedDaily | currency }}
                    </td>
                    <td class="left">
                      {{ item.activeOwnershipAdjustedHourly | currency }}
                    </td>
                    <td class="left">
                      {{ item.activeOperatingAdjustedRate | currency }}
                    </td>
                  </tr>
                  <tr class="justify-content-center">
                    <td class="strong left">Hourly Conversion</td>
                    <td class="left">176</td>
                    <td class="left">40</td>
                    <td class="left">8</td>
                    <td class="left">1</td>
                    <td class="left">1</td>
                  </tr>
                  <tr class="justify-content-center">
                    <td class="strong left">Hourly Rate</td>
                    <td class="left">
                      {{
                        +item.rates.monthlyOwnershipCostFinal / 176 | currency
                      }}
                    </td>
                    <td class="left">
                      {{ +item.rates.weeklyOwnershipCostFinal / 40 | currency }}
                    </td>
                    <td class="left">
                      {{ +item.rates.dailyOwnershipCostFinal / 8 | currency }}
                    </td>
                    <td class="left">
                      {{ item.rates.hourlyOwnershipCostFinal | currency }}
                    </td>
                    <td class="left">
                      {{ item.rates.hourlyOperatingCostFinal | currency }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row no-row-margins">
              <div class="col">
                <h5 class="strong">Rate Element Allocation</h5>
                <h6 class="strong no-top-margin">
                  Ownership Costs, Unadjusted (Monthly)
                </h6>
                <table *ngIf="item" class="no-top-margin table table-compact table-bordered
                  table-striped comparison-table full-width">
                  <thead>
                    <th class="left">Element</th>
                    <th class="left">Percentage</th>
                    <th class="left">Amount</th>
                  </thead>
                  <tbody>
                    <tr class="justify-content-center">
                      <td class="strong left">Depreciation</td>
                      <td class="left">
                        {{ item.depreciationPercent | percent }}
                      </td>
                      <td class="left">
                        {{ item.depreciationValue | currency }}
                      </td>
                    </tr>
                    <tr class="justify-content-center">
                      <td class="strong left">Overhaul</td>
                      <td class="left">
                        {{ item.overhaulPercent | percent }}
                      </td>
                      <td class="left">
                        {{ item.overhaulValue | currency }}
                      </td>
                    </tr>
                    <tr class="justify-content-center">
                      <td class="strong left">Cost of Facilities Capital</td>
                      <td class="left">
                        {{ item.cfcPercent | percent }}
                      </td>
                      <td class="left">
                        {{ item.cfcValue | currency }}
                      </td>
                    </tr>
                    <tr class="justify-content-center">
                      <td class="strong left">Indirect</td>
                      <td class="left">
                        {{ item.overheadPercent | percent }}
                      </td>
                      <td class="left">
                        {{ item.overheadValue | currency }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col">
                <h5 class="strong">Rate Element Allocation</h5>
                <h6 class="strong no-top-margin">Operating Costs, (Hourly)</h6>
                <table *ngIf="item" class="no-top-margin table table-compact table-bordered
                  table-striped comparison-table full-width">
                  <thead>
                    <th class="left">Element</th>
                    <th class="left">Percentage</th>
                    <th class="left">Amount</th>
                  </thead>
                  <tbody>
                    <tr class="justify-content-center">
                      <td class="left" style="width: 125px">
                        Fuel @
                        {{ item.fuelUnitCost | currency }}
                      </td>
                      <td class="left">
                        {{ item.fuelPercent | percent }}
                      </td>
                      <td class="left">
                        {{ item.fuelValue | currency }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </clr-dg-row-detail>
      </ng-container>
    </clr-dg-row>
    <clr-dg-footer *ngIf="items">{{ items.length }} Items</clr-dg-footer>
  </clr-datagrid>
  <div class="align-items-center mt-1 float-right" align="end" [formGroup]="equipmentForm">
    <mat-checkbox type="checkbox" matRipple id="activeCheck" formControlName="autoSave"></mat-checkbox>
    <label class="no-bottom-margin disabled-text" style="padding-left: 4px">
      Automatically save new models added from requests to my Project Assets
    </label>
  </div>
</div>
