<h3 mat-dialog-title>Upload Equipment</h3>
<mat-dialog-content>
  <div class="mb-2">
    <nz-upload
      nzAction=""
      nzType="drag"
      [nzMultiple]="true"
      [(nzFileList)]="fileList"
      [nzCustomRequest]="customReq"
      [nzData]="customData"
      [nzShowUploadList]="showUpload()"
      [nzRemove]="deleteAttachment"
      [nzBeforeUpload]="handleChange"
    >
      <p class="ant-upload-drag-icon">
        <clr-icon shape="inbox" size="36"></clr-icon>
      </p>
      <p class="ant-upload-text">
        Click or drag file(s) to this area to upload
      </p>
    </nz-upload>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="btn btn-primary" (click)="done()">Done</button>
</mat-dialog-actions>
