<h3 mat-dialog-title>Line Item Attachments</h3>
<mat-dialog-content>
  <div class="mb-2">
    <nz-upload *ngIf="canAdd" [nzShowButton]="canAdd" [nzDisabled]="!canAdd" nzAction="" nzType="drag" nzMultiple
      [nzFileList]="fileList" [nzCustomRequest]="customReq" [nzShowUploadList]="false"
      (nzChange)="handleChange($event)">
      <p class="ant-upload-drag-icon">
        <clr-icon shape="inbox" size="36"></clr-icon>
      </p>
      <p class="ant-upload-text">
        Click or drag file(s) to this area to upload
      </p>
    </nz-upload>
    <nz-upload *ngIf="!canAdd" [nzShowButton]="canAdd" [nzDisabled]="!canAdd" nzAction="" [nzFileList]="fileList"
      [nzCustomRequest]="customReq" [nzShowUploadList]="false" (nzChange)="handleChange($event)">
      <h5 class="muted-text" *ngIf="fileList && fileList.length > 0">
        Click on an attachment to download
      </h5>
      <h5 class="muted-text" *ngIf="!fileList || fileList.length === 0">
        No Attachments have been added.
      </h5>
    </nz-upload>
    <mat-nav-list class="full-width">
      <h3 *ngIf="!addedFiles || addedFiles.length === 0" matSubheader>
        No Uploaded Files
      </h3>
      <h3 *ngIf="addedFiles && addedFiles.length > 0" matSubheader>
        Uploaded Files
      </h3>
      <mat-list-item *ngFor="let file of addedFiles; let index = index">
        <a [href]="file.url" target="_blank" matLine class="attachment" [matTooltip]="file.message"
          [class.red]="file.status === 'error'">{{ file.name }}</a>
        <button class="ripple icon-button" (click)="deleteFile(index, file)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="btn btn-primary" (click)="done()">Done</button>
</mat-dialog-actions>
