<h3 mat-dialog-title>Line Item Attachments</h3>
<mat-dialog-content>
  <div class="mb-2">
    <nz-upload
      *ngIf="canAdd"
      [nzShowButton]="canAdd"
      [nzDisabled]="!canAdd"
      nzAction=""
      nzType="drag"
      [nzMultiple]="true"
      [(nzFileList)]="fileList"
      [nzCustomRequest]="customReq"
      [nzShowUploadList]="showUpload()"
      [nzRemove]="deleteAttachment"
      (nzChange)="handleChange($event)"
    >
      <p class="ant-upload-drag-icon">
        <clr-icon shape="inbox" size="36"></clr-icon>
      </p>
      <p class="ant-upload-text">
        Click or drag file(s) to this area to upload
      </p>
    </nz-upload>
    <nz-upload
      *ngIf="!canAdd"
      [nzShowButton]="canAdd"
      [nzDisabled]="!canAdd"
      nzAction=""
      nzType="drag"
      [nzMultiple]="true"
      [(nzFileList)]="fileList"
      [nzRemove]="deleteAttachment"
      [nzCustomRequest]="customReq"
      [nzShowUploadList]="showUpload()"
      (nzChange)="handleChange($event)"
    >
      <h5 class="muted-text" *ngIf="fileList && fileList.length > 0">
        Click on an attachment to download
      </h5>
      <h5 class="muted-text" *ngIf="!fileList || fileList.length === 0">
        No Attachments have been added.
      </h5>
    </nz-upload>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="btn btn-primary" (click)="done()">Done</button>
</mat-dialog-actions>
