<h3 mat-dialog-title>{{ modalTitle }}</h3>
<mat-dialog-content>
  <div *ngIf="selectedItem && changeFormGroup">
    <form
      *ngIf="selectedItem"
      class="full-width px-1"
      [formGroup]="changeFormGroup"
    >
      <div class="pb-2">
        <div
          class="column
        align-items-center"
        >
          <div
            class="row no-row-margins
                align-items-center"
          >
            <div class="column flex-wrap col-4">
              <h4 class="amount-label">
                <strong>Amount Submitted:&nbsp;&nbsp;</strong>
              </h4>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  currencyMask
                  placeholder="Submitted Amount"
                  type="text"
                  formControlName="amountSubmitted"
                />
              </mat-form-field>
            </div>
            <div class="pl-1 column flex-wrap col-6">
              <h4 class="amount-label">
                <strong>Amount Approved:&nbsp;&nbsp;</strong>
              </h4>

              <mat-form-field appearance="outline">
                <input
                  matInput
                  currencyMask
                  placeholder="Adjusted Amount"
                  type="text"
                  formControlName="ammountControl"
                  required
                />
                <mat-error
                  *ngIf="
                    changeFormGroup.get('ammountControl').hasError('required')
                  "
                >
                  Amount Approved is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="full-width mt-1">
          <h4 class="amount-label">
            <strong>Reason for Adjustment:&nbsp;&nbsp;</strong>
          </h4>
          <mat-form-field appearance="outline" class="full-width">
            <textarea
              matInput
              rows="5"
              formControlName="reasonControl"
            ></textarea>
            <mat-error
              *ngIf="changeFormGroup.get('ammountControl').hasError('required')"
            >
              Please enter a reason for this adjustment.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="changeFormGroup" align="end">
  <button class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
  <button
    class="btn btn-primary mr-1"
    (click)="confirm()"
    [disabled]="!changeFormGroup.valid"
  >
    {{ modalSubmitLabel }}
  </button>
</mat-dialog-actions>
