<h3 mat-dialog-title>{{ modalTitle }}</h3>
<mat-dialog-content>
  <form
    *ngIf="selectedItem"
    class="full-width px-1"
    [formGroup]="changeFormGroup">
    <div class="px-1 pb-2 bg-white">
      <ng-container *ngIf="selectedItem.type === 'material'">
        <div class="row flex-wrap full-width">
          <div class="column flex-wrap px-1">
            <h6 class="row-details">DESCRIPTION</h6>
            <div [matTooltip]="selectedItem.details.description">
              {{ selectedItem.details.description }}
            </div>
          </div>
          <div class="column flex-wrap px-1">
            <h6 class="row-details">UNITS</h6>
            <div>{{ selectedItem.details.units }}</div>
          </div>
          <div class="column flex-wrap px-1">
            <h6 class="row-details">COST PER UNIT</h6>
            <div>{{ selectedItem.details.unitCost | currency }}</div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedItem.type === 'other'">
        <div class="full-width row align-items-center">
          <div class="full-width row align-items-center">
            <div class="column flex-wrap px-1">
              <h6 class="row-details">TYPE</h6>
              <div>{{ selectedItem.details.type }}</div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">DESCRIPTION</h6>
              <div [matTooltip]="selectedItem.details.description">
                {{ selectedItem.details.description }}
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedItem.type === 'equipment.active'">
        <div class="full-width row align-items-center">
          <div class="full-width row align-items-center">
            <div class="column flex-wrap px-1">
              <h6 class="row-details">MACHINE</h6>
              <div>
                {{ selectedItem.details.year }} {{ selectedItem.details.make }}
                {{ selectedItem.details.model }}
              </div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">OPERATING</h6>
              <div>
                {{
                selectedItem.details.selectedConfiguration
                .hourlyOperatingCost | currency
                }}
              </div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">HOURS</h6>
              <div>{{ selectedItem.details.hours | number: '.1-2' }}</div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">TRANSPORT</h6>
              <div>{{ selectedItem.details.transportation | currency }}</div>
            </div>
          </div>
          <div class="full-width row align-items-center">
            <div class="column flex-wrap px-1">
              <h6 class="row-details">
                {{ selectedItem.details.description }}
              </h6>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedItem.type === 'equipment.standby'">
        <div class="full-width row align-items-center">
          <div class="full-width row align-items-center">
            <div class="column flex-wrap px-1">
              <h6 class="row-details">MACHINE</h6>
              <div>
                {{ selectedItem.details.year }} {{ selectedItem.details.make }}
                {{ selectedItem.details.model }}
              </div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">OPERATING</h6>
              <div>
                {{
                selectedItem.details.selectedConfiguration
                .hourlyOperatingCost | currency
                }}
              </div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">HOURS</h6>
              <div>{{ selectedItem.details.hours | number: '.1-2' }}</div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">TRANSPORT</h6>
              <div>{{ selectedItem.details.transportation | currency }}</div>
            </div>
          </div>
          <div class="full-width row align-items-center">
            <div class="column flex-wrap px-1">
              <h6 class="row-details">
                {{ selectedItem.details.description }}
              </h6>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedItem.type === 'equipment.rental'">
        <div class="full-width row align-items-center">
          <div class="full-width row align-items-center">
            <div class="column flex-wrap px-1">
              <h6 class="row-details">MACHINE</h6>
              <div>
                {{ selectedItem.details.year }} {{ selectedItem.details.make }}
                {{ selectedItem.details.model }}
                {{ selectedItem.details.subtype }}
                {{ selectedItem.details.sizeClassName }}
              </div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">INVOICE</h6>
              <div>{{ selectedItem.details.invoice | currency }}</div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">TRANSPORT</h6>
              <div>
                {{ selectedItem.details.transportation || 0 | currency }}
              </div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">OTHER</h6>
              <div>{{ selectedItem.details.other || 0 | currency }}</div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedItem.type === 'labor'">
        <div class="full-width row align-items-center">
          <div class="full-width row align-items-center">
            <div class="column flex-wrap px-1">
              <h6 class="row-details">EMPLOYEE</h6>
              <div>
                {{ selectedItem.details.employee.lastName }},
                {{ selectedItem.details.employee.firstName }}
              </div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">TRADE</h6>
              <div>{{ selectedItem.details.trade }}</div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">RATE</h6>
              <div>{{ selectedItem.details.rate | currency }}</div>
            </div>
          </div>
          <div class="full-width row align-items-center">
            <div class="column flex-wrap px-1">
              <h6 class="row-details">TIME X 1</h6>
              <div>{{ selectedItem.details.time1 | number: '.1-2' }}</div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">TIME X 1.5</h6>
              <div>{{ selectedItem.details.time15 | number: '.1-2' }}</div>
            </div>
            <div class="column flex-wrap px-2">
              <h6 class="row-details">TIME X 2</h6>
              <div>{{ selectedItem.details.time2 | number: '.1-2' }}</div>
            </div>

          </div>
          <div class="full-width row align-items-center">
            <div class="column flex-wrap px-1">
              <h6 class="row-details">
                {{ selectedItem.details.description }}
              </h6>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedItem.type === 'subcontractor'">
        <div class="full-width row align-items-center">
          <div class="full-width row align-items-center">
            <div class="column flex-wrap px-1">
              <h6 class="row-details">SUBCONTRACTOR</h6>
              <div>{{ selectedItem.details.subcontractor }}</div>
            </div>
            <div class="column flex-wrap px-1">
              <h6 class="row-details">DESCRIPTION</h6>
              <div [matTooltip]="selectedItem.details.description">
                {{ selectedItem.details.description }}
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div
        *ngIf="modalType === 'ApprovedWithChange'"
        class="column
        align-items-center">
        <div class="column flex-wrap">
          <h4 class="amount-label">
            <strong>Amount Submitted:&nbsp;&nbsp;</strong>
          </h4>
          <label class="amount-label amount-submitted">{{ selectedItem.amount |
            currency }}
          </label>
        </div>
        <div class="column flex-wrap">
          <h4 class="amount-label">
            <strong>Amount Approved:&nbsp;&nbsp;</strong>
          </h4>

          <input
            class="amount-text"
            type="text"
            formControlName="ammountControl"
            [(ngModel)]="selectedItem.finalAmount"
            currencyMask
            placeholder="Amount Approved"
            />
        </div>
      </div>
      <div *ngIf="modalType === 'ApprovedAsIs'" class="w-75">
        <div class="column pb-4 green">
          <h4 class="amount-label">
            <strong>Amount Submitted:&nbsp;&nbsp;</strong>
          </h4>
          <label class="amount-label amount-submitted">{{ selectedItem.amount |
            currency }}
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="modalType === 'ApprovedWithChange'" class="full-width">
      <h4 class="amount-label" [ngClass]="amountChanged >= 0 ? 'green' : 'red'">
        <strong>Change Amount:&nbsp;&nbsp;</strong>{{ amountChanged | currency
        }}
      </h4>

      <h4 class="amount-label"><strong>Change Reason:&nbsp;&nbsp;</strong></h4>
      <textarea
        id="changeReason"
        rows="5"
        [(ngModel)]="selectedItem.changeReason"
        formControlName="reasonControl"></textarea>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
  <button
    class="btn btn-primary mr-1"
    *ngIf="modalType === 'ApprovedAsIs'"
    (click)="confirm()"
    cdkFocusInitial
    color="primary">
    {{ modalSubmitLabel }}
  </button>
  <button
    class="btn btn-primary mr-1"
    *ngIf="modalType === 'ApprovedWithChange'"
    (click)="confirm()"
    cdkFocusInitial
    [disabled]="!changeFormGroup.valid">
    {{ modalSubmitLabel }}
  </button>
</mat-dialog-actions>
