/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

.page-content {
  margin: 1em;
}

body,
html {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.688) !important;
}

.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  color: rgba(255, 255, 255, 0.88);
}

.mat-divider {
  border-color: rgba(0, 0, 0, 0.37) !important;
  border-top-width: 2px !important;
}
