<div class="request-form p-24 full-width" *ngIf="request">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px">
    <h2>New Request</h2>
    <form [formGroup]="projectFormGroup">
      <mat-radio-group formControlName="projectType">
        <mat-radio-button color="primary" value="1">Existing Project</mat-radio-button>
        <mat-radio-button value="2">New Project</mat-radio-button>
      </mat-radio-group>
    </form>
  </div>
  <div class="p-4 m-0">

    <ng-container *ngIf="projectType.value == '1';then existingProject; else newProject"></ng-container>
    <ng-template #existingProject class="input-form">
      <div class="input-form">
        <mat-horizontal-stepper #stepper="matHorizontalStepper" linear="true">
          <mat-step [stepControl]="projectFormGroup">
            <form [formGroup]="projectFormGroup">
              <ng-template matStepLabel>Select Project</ng-template>
              <mat-form-field class="width-50">
                <mat-select [(ngModel)]="selectedProject" formControlName="selectedProject" [compareWith]="compareFn" formControlName="projectSelect"
                  placeholder="Select Project">
                  <mat-option *ngFor="let project of projects" [value]="project">
                    {{ project.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="selectedProject" class="p-8">
                <h4 class="gray-color">Instructions</h4>
                <p>
                  {{selectedProject.details}}
                </p>
                <button mat-raised-button matStepperNext color="primary">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="costFormGroup">
            <ng-template matStepLabel>Select Cost Type</ng-template>
            <form [formGroup]="costFormGroup" *ngIf="selectedProject">
              <div fxLayout="column" fxLayoutGap="18px" fxLayoutAlign="start start">
                <mat-toolbar class="alt">
                  <mat-toolbar-row fxLayout="row" fxLayoutGap="18px">
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>REQUEST ID</label>
                      <div fxFlex>{{request.id}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>PROJECT ID</label>
                      <div fxFlex>{{selectedProject.id}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>PROJECT OWNER</label>
                      <div fxFlex>{{selectedProject.owner}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>DATE OF REQUEST</label>
                      <div fxFlex>{{request.requestDate | date:'shortDate'}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>PROJECT</label>
                      <div fxFlex>{{selectedProject.name}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>REQUEST TYPE</label>
                      <div fxFlex>{{request.type}}</div>
                    </div>
                  </mat-toolbar-row>
                </mat-toolbar>
                <div></div>
                <mat-toolbar class="alt">
                  <mat-toolbar-row>
                    <div fxFlex fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>WORK COMPLETION PERIOD</label>

                      <div fxFlex fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
                        <mat-checkbox [checked]="today === request.startDate === request.endDate">Today Only</mat-checkbox>

                        <label style="font-size: 75%">OR</label>
                        <div></div>
                        <mat-form-field color="accent">
                          <mat-label>Start Date</mat-label>
                          <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
                          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                          <mat-datepicker #startDatePicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field color="accent">
                          <mat-label>End Date</mat-label>
                          <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
                          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                          <mat-datepicker #endDatePicker></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-toolbar-row>

                </mat-toolbar>
                <div></div>
                <mat-toolbar class="alt">
                  <mat-toolbar-row>
                    <div fxFlex fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>Select All That Apply</label>
                      <div fxFlex fxLayout="row" fxLayoutGap="18px" fxLayoutAlign="center center">
                        <mat-checkbox (change)="toggleCheckbox('equipment',$event)" [ngModel]="request.costs.equipmentCosts.enabled" formControlName="equipmentCostsCheckbox">Equipment Costs</mat-checkbox>
                        <mat-checkbox disabled="true" (change)="toggleCheckbox('labor',$event)" [ngModel]="request.costs.laborCosts.enabled" formControlName="laborCostsCheckbox">Labor Costs</mat-checkbox>
                        <mat-checkbox (change)="toggleCheckbox('material',$event)" [ngModel]="request.costs.materialCosts.enabled" formControlName="materialCostsCheckbox">Material Costs</mat-checkbox>
                        <mat-checkbox (change)="toggleCheckbox('other',$event)" [ngModel]="request.costs.otherCosts.enabled" formControlName="otherCostsCheckbox">Other Costs</mat-checkbox>
                        <mat-checkbox (change)="toggleCheckbox('subcontractor',$event)" [ngModel]="request.costs.subcontractorCosts.enabled" formControlName="subcontractorCostsCheckbox">Subcontractor Costs</mat-checkbox>
                      </div>
                    </div>
                  </mat-toolbar-row>
                </mat-toolbar>
                <div></div>
                <div class="p-8">
                  <button mat-raised-button matStepperNext color="primary">Next</button>
                  <button mat-button matStepperPrevious>Previous</button>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="costDetailsFormGroup">
            <form [formGroup]="costDetailsFormGroup">
              <ng-template matStepLabel>Enter Cost Details</ng-template>
              <div fxLayout="column" fxLayoutGap="18px" *ngIf="selectedProject" fxLayoutAlign="start start">
                <mat-toolbar class="alt">
                  <mat-toolbar-row>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>REQUEST ID</label>
                      <div fxFlex>{{request.id}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>PROJECT ID</label>
                      <div fxFlex>{{selectedProject.id}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>PROJECT OWNER</label>
                      <div fxFlex>{{selectedProject.owner}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>DATE OF REQUEST</label>
                      <div fxFlex>{{request.requestDate | date:'shortDate'}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>PROJECT</label>
                      <div fxFlex>{{selectedProject.name}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>REQUEST TYPE</label>
                      <div fxFlex>{{request.type}}</div>
                    </div>
                  </mat-toolbar-row>
                </mat-toolbar>

                <div class="p-24 full-width" fxLayout="column" fxLayoutGap="18px" fxLayoutAlign="start start">
                  <mat-card class="input-form full-width">
                    <mat-tab-group class="cost-tab-group">
                      <mat-tab *ngIf="request && request.costs.equipmentCosts.enabled" label="Equipment Costs">
                        <div fxLayout="column" fxLayoutGap="18px" fxLayoutAlign="start start">
                          <mat-toolbar class="alt">
                            <mat-toolbar-row>
                              <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                                <label class="cost-label" fxFlex>ACTIVE USE</label>
                                <div fxFlex>{{request.costs.equipmentCosts.activeCosts.total | currency}}</div>
                              </div>
                              <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                                <label class="cost-label" fxFlex>STANDBY</label>
                                <div fxFlex>{{request.costs.equipmentCosts.standbyCosts.total | currency}}</div>
                              </div>
                              <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                                <label class="cost-label" fxFlex>RENTAL</label>
                                <div fxFlex>{{request.costs.equipmentCosts.rentalCosts.total | currency}}</div>
                              </div>
                              <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                                <label class="cost-label" fxFlex>TRANSPORTATION</label>
                                <div fxFlex>{{0 | currency}}</div>
                              </div>
                              <div class="total-cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                                <label class="cost-label" fxFlex>TOTAL EQUIPMENT COSTS</label>
                                <div fxFlex>{{request.costs.equipmentCosts.total | currency}}</div>
                              </div>
                            </mat-toolbar-row>
                          </mat-toolbar>
                          <div class="p-14 full-width">
                            <mat-tab-group class="equipment-tab-group">
                              <mat-tab label="Active Use">
                                <mat-toolbar class="alt">
                                  <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
                                    <button mat-raised-button color="primary" (click)="addActive()">Add Machine</button>
                                  </mat-toolbar-row>
                                </mat-toolbar>

                                <mat-table #activeCostTable [dataSource]="activeDataSource" style="width:100%">
                                  <ng-container matColumnDef="activeModel">
                                    <mat-header-cell *matHeaderCellDef> MAKE/MODEL </mat-header-cell>

                                    <mat-cell *matCellDef="let element">
                                      <div *ngIf="!element.machine">
                                        <input type="text" placeholder="Pick one" aria-label="Machine" matInput [(ngModel)]="element.machine" [ngModelOptions]="{standalone: true}"
                                          [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete">
                                          <mat-option *ngFor="let machine of machines$ | async" [value]="machine">
                                            <span>{{ machine.make }}</span>

                                            <small>{{machine.model}}</small>
                                          </mat-option>
                                        </mat-autocomplete>
                                      </div>
                                      <div *ngIf="element.machine" fxLayout="row" fxLayoutGap="4px">
                                        <span>{{element.machine.make}}</span>
                                        <span>{{element.machine.model}}</span>
                                      </div>


                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="activeDescription">
                                    <mat-header-cell *matHeaderCellDef> DESCRIPTION </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span *ngIf="element.machine">{{element.machine.description}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="activeYear">
                                    <mat-header-cell *matHeaderCellDef> YEAR </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span *ngIf="element.machine">{{element.machine.year}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="activeVin">
                                    <mat-header-cell *matHeaderCellDef> SN/VIN </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span *ngIf="element.machine">{{element.machine.vin}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="activeOwnership">
                                    <mat-header-cell *matHeaderCellDef> OWNERSHIP </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span *ngIf="element.machine">{{element.machine.ownership}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="activeOperating">
                                    <mat-header-cell *matHeaderCellDef> OPERATING </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span *ngIf="element.machine">{{element.machine.fhwa}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="activeFHWA">
                                    <mat-header-cell *matHeaderCellDef> FHWA </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span *ngIf="element.machine">{{element.machine.fhwa}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="activeHours">
                                    <mat-header-cell *matHeaderCellDef> HOURS </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <input matInput (change)="activeChanged(element)" [(ngModel)]="element.hours" [ngModelOptions]="{standalone: true}">
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="activeTransport">
                                    <mat-header-cell *matHeaderCellDef> TRANSPORT </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <input matInput (change)="activeChanged(element)" [(ngModel)]="element.transport" [ngModelOptions]="{standalone: true}">
                                    </mat-cell>
                                  </ng-container>


                                  <ng-container matColumnDef="activeAmount">
                                    <mat-header-cell *matHeaderCellDef> AMOUNT </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span>{{element.total | currency}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <mat-header-row *matHeaderRowDef="activeDisplayedColumns"></mat-header-row>
                                  <mat-row *matRowDef="let row; columns: activeDisplayedColumns;"></mat-row>
                                </mat-table>
                              </mat-tab>
                              <mat-tab label="Standby">
                                <mat-toolbar class="alt">
                                  <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
                                    <button mat-raised-button color="primary" (click)="addStandby()">Add Machine</button>
                                  </mat-toolbar-row>
                                </mat-toolbar>

                                <mat-table #standbyCostTable [dataSource]="standbyDataSource" style="width:100%">
                                  <ng-container matColumnDef="standbyModel">
                                    <mat-header-cell *matHeaderCellDef> MAKE/MODEL </mat-header-cell>

                                    <mat-cell *matCellDef="let element">
                                      <div *ngIf="!element.machine" class="full-width">
                                        <input type="text" placeholder="Pick one" aria-label="Machine" matInput [(ngModel)]="element.machine" [ngModelOptions]="{standalone: true}"
                                          [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete">
                                          <mat-option *ngFor="let machine of machines$ | async" [value]="machine">
                                            <span>{{ machine.make }}</span>

                                            <small>{{machine.model}}</small>
                                          </mat-option>
                                        </mat-autocomplete>
                                      </div>
                                      <div *ngIf="element.machine" fxLayout="row" fxLayoutGap="4px">
                                        <span>{{element.machine.make}}</span>
                                        <span>{{element.machine.model}}</span>
                                      </div>


                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="standbyDescription">
                                    <mat-header-cell *matHeaderCellDef> DESCRIPTION </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span *ngIf="element.machine">{{element.machine.description}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="standbyYear">
                                    <mat-header-cell *matHeaderCellDef> YEAR </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span *ngIf="element.machine">{{element.machine.year}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="standbyVin">
                                    <mat-header-cell *matHeaderCellDef> SN/VIN </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span *ngIf="element.machine">{{element.machine.vin}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="standbyOwnership">
                                    <mat-header-cell *matHeaderCellDef> OWNERSHIP </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span *ngIf="element.machine">{{element.machine.ownership}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="standbyOperating">
                                    <mat-header-cell *matHeaderCellDef> OPERATING </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span *ngIf="element.machine">{{element.machine.fhwa}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="standbyFHWA">
                                    <mat-header-cell *matHeaderCellDef> FHWA </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span *ngIf="element.machine">{{element.machine.fhwa}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="standbyHours">
                                    <mat-header-cell *matHeaderCellDef> HOURS </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <input matInput (change)="standbyChanged(element)" [(ngModel)]="element.hours" [ngModelOptions]="{standalone: true}">
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="standbyTransport">
                                    <mat-header-cell *matHeaderCellDef> TRANSPORT </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <input matInput (change)="standbyChanged(element)" [(ngModel)]="element.transportationCost" [ngModelOptions]="{standalone: true}">
                                    </mat-cell>
                                  </ng-container>


                                  <ng-container matColumnDef="standbyAmount">
                                    <mat-header-cell *matHeaderCellDef> AMOUNT </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span>{{element.total | currency}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <mat-header-row *matHeaderRowDef="standbyDisplayedColumns"></mat-header-row>
                                  <mat-row *matRowDef="let row; columns: standbyDisplayedColumns;"></mat-row>
                                </mat-table>
                              </mat-tab>
                              <mat-tab label="Rental Equipment">
                                <mat-toolbar class="alt">
                                  <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
                                    <button mat-raised-button color="primary" (click)="addRental()">Add Invoice</button>
                                  </mat-toolbar-row>
                                </mat-toolbar>

                                <mat-table #rentalCostTable [dataSource]="rentalDataSource" style="width:100%">
                                  <ng-container matColumnDef="rentalDescription">
                                    <mat-header-cell *matHeaderCellDef> DESCRIPTION </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span>{{element.description}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="rentalType">
                                    <mat-header-cell *matHeaderCellDef> TYPE </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <div *ngIf="!element.machine">
                                        <input type="text" placeholder="Pick one" aria-label="Machine" matInput [(ngModel)]="element.machine" [ngModelOptions]="{standalone: true}"
                                          [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete">
                                          <mat-option *ngFor="let machine of machines$ | async" [value]="machine">
                                            <span>{{ machine.make }}</span>

                                            <small>{{machine.model}}</small>
                                          </mat-option>
                                        </mat-autocomplete>
                                      </div>
                                      <div *ngIf="element.machine" fxLayout="row" fxLayoutGap="4px">
                                        <span>{{element.machine.make}}</span>
                                        <span>{{element.machine.model}}</span>
                                      </div>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="rentalBase">
                                    <mat-header-cell *matHeaderCellDef> BASE RENTAL </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <input *ngIf="element.machine" matInput (change)="rentalChanged(element)" [(ngModel)]="element.machine.baseRental" [ngModelOptions]="{standalone: true}">
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="rentalTransportation">
                                    <mat-header-cell *matHeaderCellDef> TRANSPORTATION </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <input matInput (change)="rentalChanged(element)" [(ngModel)]="element.transportationCost" [ngModelOptions]="{standalone: true}">
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="rentalOther">
                                    <mat-header-cell *matHeaderCellDef> OTHER </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <input matInput (change)="rentalChanged(element)" [(ngModel)]="element.other" [ngModelOptions]="{standalone: true}">
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="rentalReceipt">
                                    <mat-header-cell *matHeaderCellDef> INVOICE </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <a class="blue-link" *ngIf="element.receipt">invoice</a>
                                      <a class="blue-link" *ngIf="!element.receipt">Add Invoice</a>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="rentalTotal">
                                    <mat-header-cell *matHeaderCellDef> TOTAL </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <span>{{element.total | currency}}</span>
                                    </mat-cell>
                                  </ng-container>
                                  <mat-header-row *matHeaderRowDef="rentalDisplayedColumns"></mat-header-row>
                                  <mat-row *matRowDef="let row; columns: rentalDisplayedColumns;"></mat-row>
                                </mat-table>
                              </mat-tab>
                            </mat-tab-group>

                          </div>
                        </div>
                      </mat-tab>
                      <mat-tab *ngIf="request && request.costs.laborCosts.enabled" label="Labor Costs">

                      </mat-tab>
                      <mat-tab *ngIf="request && request.costs.materialCosts.enabled" label="Material Costs">
                        <div fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="start start">
                          <mat-toolbar class="alt">
                            <mat-toolbar-row class="p-0">
                              <div class="spacer"></div>
                              <div class="total-cost-column" fxFlex fxLayout="column" fxLayoutAlign="center end">
                                <label class="cost-label" fxFlex>TOTAL MATERIAL COSTS</label>
                                <div fxFlex>{{request.costs.materialCosts.total | currency}}</div>
                              </div>
                            </mat-toolbar-row>
                          </mat-toolbar>
                          <div class="full-width">
                            <mat-toolbar class="alt">
                              <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
                                <button mat-raised-button color="primary" (click)="addMaterial()">Add Material</button>
                                <div class="spacer"></div>
                                <span class="sub-header">*TOTAL - INCLUDES 5% PREMIUM PER PROJECT SPECS</span>
                              </mat-toolbar-row>
                            </mat-toolbar>

                            <mat-table #materialCostTable [dataSource]="materialDataSource" style="width:100%">
                              <ng-container matColumnDef="materialDescription">
                                <mat-header-cell *matHeaderCellDef> DESCRIPTION </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  <input matInput [(ngModel)]="element.description" [ngModelOptions]="{standalone: true}">
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="materialCost">
                                <mat-header-cell *matHeaderCellDef> COST PER UNIT </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  <input matInput currencyMask [ngModelOptions]="{standalone: true}" [(ngModel)]="element.costPerUnit">
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="materialQuantity">
                                <mat-header-cell *matHeaderCellDef> QUANTITY </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  <input matInput (change)="materialChanged(element)" [(ngModel)]="element.unitQuantity" [ngModelOptions]="{standalone: true}">
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="materialReceipt">
                                <mat-header-cell *matHeaderCellDef> RECEIPT </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  <a class="blue-link" *ngIf="element.receipt">receipt</a>
                                  <a class="blue-link" *ngIf="!element.receipt">Add Receipt</a>
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="materialSubtotal">
                                <mat-header-cell *matHeaderCellDef> SUBTOTAL </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  <span>{{element.subtotal | currency}}</span>
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="materialTotal">
                                <mat-header-cell *matHeaderCellDef> TOTAL* </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  <span>{{element.total | currency}}</span>
                                </mat-cell>
                              </ng-container>
                              <mat-header-row *matHeaderRowDef="materialDisplayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: materialDisplayedColumns;"></mat-row>
                            </mat-table>

                          </div>
                        </div>
                      </mat-tab>
                      <mat-tab *ngIf="request && request.costs.otherCosts.enabled" label="Other Costs">

                      </mat-tab>
                      <mat-tab *ngIf="request && request.costs.subcontractorCosts.enabled" label="Subcontractor Costs">

                      </mat-tab>
                    </mat-tab-group>
                  </mat-card>
                </div>



              </div>
              <div></div>
              <div class="p-4" fxLayout="row" fxLayoutGap="14px">
                <button mat-raised-button matStepperNext color="primary">Next</button>
                <button mat-button matStepperPrevious>Previous</button>
                <div class="spacer"></div>
                <button mat-raised-button (click)="save()">Save</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="signatureFormGroup">
            <form [formGroup]="signatureFormGroup">
              <ng-template matStepLabel>Sign and Submit</ng-template>
              <div class="p-8" *ngIf="request && selectedProject" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="14px">
                <mat-toolbar class="alt">
                  <mat-toolbar-row>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>REQUEST ID</label>
                      <div fxFlex>{{request.id}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>PROJECT ID</label>
                      <div fxFlex>{{selectedProject.id}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>PROJECT OWNER</label>
                      <div fxFlex>{{selectedProject.owner}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>DATE OF REQUEST</label>
                      <div fxFlex>{{request.requestDate | date:'shortDate'}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>PROJECT</label>
                      <div fxFlex>{{selectedProject.name}}</div>
                    </div>
                    <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="cost-label" fxFlex>REQUEST TYPE</label>
                      <div fxFlex>{{request.type}}</div>
                    </div>
                  </mat-toolbar-row>
                </mat-toolbar>
                <div class="signature-row f-w" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
                  <div class="full-height bordered" fxLayout="column" fxLayoutAlign="start start">
                    <div class="f-w total-summary-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="summary-label" fxFlex>TOTAL AMOUNT</label>
                      <div fxFlex>{{request.costs.total | currency}}</div>
                    </div>
                    <div class="f-w summary-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="summary-label" fxFlex>EQUIPMENT COSTS</label>
                      <div fxFlex>{{request.costs.equipmentCosts.total | currency}}</div>
                    </div>
                    <div class="f-w summary-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="summary-label" fxFlex>LABOR COSTS</label>
                      <div fxFlex>{{request.costs.laborCosts.total | currency}}</div>
                    </div>
                    <div class="f-w summary-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="summary-label" fxFlex>MATERIAL COSTS</label>
                      <div fxFlex>{{request.costs.materialCosts.total | currency}}</div>
                    </div>
                    <div class="f-w summary-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="summary-label" fxFlex>OTHER COSTS</label>
                      <div fxFlex>{{request.costs.otherCosts.total | currency}}</div>
                    </div>
                    <div class="f-w summary-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
                      <label class="summary-label" fxFlex>SUBCONTRACTOR COSTS</label>
                      <div fxFlex>{{request.costs.subcontractorCosts.total | currency}}</div>
                    </div>
                  </div>
                  <div class="full-height w-50" fxLayout="column">
                    <div class="p-8" fxLayout="row" fxLayoutGap="24px">
                      <div fxLayout="column" fxLayoutGap="4px">
                        <mat-form-field fxFlex>
                          <input matInput placeholder="Name, Contractor">
                        </mat-form-field>
                        <mat-form-field fxFlex>
                          <input matInput placeholder="Signature, Contractor">
                        </mat-form-field>
                      </div>
                      <div fxLayout="column" fxLayoutGap="4px">
                        <mat-form-field fxFlex>
                          <input matInput placeholder="Name, Georgia DOT">
                        </mat-form-field>
                        <mat-form-field fxFlex>
                          <input matInput placeholder="Signature, Georiga DOT">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="p-4" fxLayout="row" fxLayoutGap="8px">
                      <button mat-raised-button color="primary">Submit</button>
                      <button mat-button matStepperPrevious>Previous</button>
                      <div class="spacer"></div>
                      <button mat-raised-button>Save</button>
                    </div>

                  </div>

                </div>

              </div>

            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </ng-template>

    <ng-template #newProject>
      <div class="input-form">
        <form [formGroup]="projectFormGroup" fxLayout="column">
          <mat-form-field fxFlex class="width-85">
            <mat-select placeholder="Select Project Owner">
              <mat-option *ngFor="let project of projects" [value]="project.id">
                {{ project.owner }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex class="width-85">
            <textarea matInput placeholder="Project Creation Request Details" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="25"></textarea>
          </mat-form-field>
        </form>
        <div class="p-4" fxLayout="row" fxLayoutGap="4px">
          <button mat-raised-button color="primary">Submit</button>
          <div class="spacer"></div>
          The Project Owner's response will be sent via
          <a href="/messages" class="blue-link">&nbsp;messages</a>
        </div>
      </div>
    </ng-template>
  </div>
</div>
