<div class="p-4 request-details" style="max-height:90vh;overflow:auto" *ngIf="request" appPerfectScrollbar>
  <mat-toolbar class="alt">
    <mat-toolbar-row class="alt">
      <a routerLink="/requests" class="primary-link">Requests</a>&nbsp;> {{request.id}}
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <div class="request-form" fxLayout="column" fxLayoutGap="24px">
    <mat-toolbar class="project-info-row">
      <mat-toolbar-row>
        <div class="project-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
          <label class="project-label" fxFlex>REQUEST ID</label>
          <div fxFlex>{{request.id}}</div>
        </div>
        <div class="project-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
          <label class="project-label" fxFlex>PROJECT ID</label>
          <div fxFlex>{{selectedProject.id}}</div>
        </div>
        <div class="project-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
          <label class="project-label" fxFlex>PROJECT OWNER</label>
          <div fxFlex>{{selectedProject.owner}}</div>
        </div>
        <div class="project-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
          <label class="project-label" fxFlex>WORK COMPLETED PERIOD</label>
          <div fxFlex>{{request.startDate | date:'shortDate'}} - {{request.endDate | date:'shortDate'}}</div>
        </div>
        <div class="project-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
          <label class="project-label" fxFlex>PROJECT</label>
          <div fxFlex>{{selectedProject.name}}</div>
        </div>
        <div class="project-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
          <label class="project-label" fxFlex>REQUEST TYPE</label>
          <div fxFlex>{{request.type}}</div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="mat-toolbar-white">
      <mat-toolbar-row fxLayout="row" fxLayoutGap="8px">
        <div fxLayout="column">
          <button mat-raised-button color="primary">Approval All</button>
          <button mat-raised-button color="accent">Send {{request.disputes.length}} Disputes</button>
        </div>
        <div fxLayout="row" fxFlex class="cost-row p-8" fxLayoutAlign="start stretch">
          <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="cost-label" fxFlex>EQUIPMENT COSTS</label>
            <div fxFlex>{{19459 | currency}}</div>
          </div>
          <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="cost-label" fxFlex>LABOR COSTS</label>
            <div fxFlex>{{4236 | currency}}</div>
          </div>
          <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="cost-label" fxFlex>MATERIAL COSTS</label>
            <div fxFlex>{{15216 | currency}}</div>
          </div>
          <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="cost-label" fxFlex>OTHER COSTS</label>
            <div fxFlex>{{345 | currency}}</div>
          </div>
          <div class="cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="cost-label" fxFlex>SUBCONTRACTOR COSTS</label>
            <div fxFlex>{{38911 | currency}}</div>
          </div>
          <div class="total-cost-column" fxFlex fxLayout="column" fxLayoutAlign="center start">
            <label class="cost-label" fxFlex>TOTAL COSTS</label>
            <div fxFlex>{{38911 | currency}}</div>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="p-4 m-0" fxLayout="column" fxLayoutGap="14px">
      <div fxLayout="row" fxLayoutGap="14px" fxLayoutAlign="start center">
        <label>Filter</label>

        <mat-checkbox (change)="toggleCheckbox('all',$event)">All</mat-checkbox>
        <mat-checkbox color="warn" (change)="toggleCheckbox('concerns',$event)">Concerns</mat-checkbox>
        <mat-checkbox color="accent" (change)="toggleCheckbox('no',$event)">No Concerns</mat-checkbox>
      </div>

    </div>
    <div *ngIf="request.costs.equipmentCosts.enabled" class="p-8 full-width" fxLayout="column" fxLayoutGap="4px">
      <div *ngIf="request.costs.equipmentCosts.activeCosts.costs.length > 0" class="full-width" fxLayout="column" fxLayoutGap="4px">
        <div class="smaller-gray-text" fxLayout="row" fxLayoutGap="4px">
          <label>Equipment |
            <b>Active Use</b>
          </label>
          <span class="spacer"></span>
          <span class="spacer"></span>
          <span class="spacer"></span>

          <span fxFlex class="right-align subtitle">powered by
            <img class="img-responsive" src="../../assets/img/ew-small.gif">
          </span>
        </div>
        <mat-accordion displayMode="flat" multi class="mat-table cost-table">
          <section matSort class="mat-header-row" fxLayout="row" fxLayoutAlign="start center">
            <div class="mat-header-cell">MAKE/MODEL</div>
            <span class="mat-header-cell">DESCRIPTION</span>
            <span class="mat-header-cell">YEAR</span>
            <span class="mat-header-cell">SN/VIN</span>
            <span class="mat-header-cell">OWNERSHIP</span>
            <span class="mat-header-cell">OPERATING</span>
            <span class="mat-header-cell">FHWA</span>
            <span class="mat-header-cell">HOURS</span>
            <span class="mat-header-cell">TRANSPORT</span>
            <span class="mat-header-cell">AMOUNT</span>
          </section>
          <mat-expansion-panel *ngFor="let item of request.costs.equipmentCosts.activeCosts.costs">
            <mat-expansion-panel-header class="mat-row">
              <span class="mat-cell">{{item.machine.make}}</span>
              <span class="mat-cell">{{item.machine.description}}</span>
              <span class="mat-cell">{{item.machine.year}}</span>
              <span class="mat-cell">{{item.machine.vin}}</span>
              <span class="mat-cell">{{item.machine.ownershipCost | currency}}</span>
              <span class="mat-cell">{{item.machine.operatingCost | currency}}</span>
              <span class="mat-cell">{{item.machine.fhwa | currency}}</span>
              <span class="mat-cell">{{item.hours}}</span>
              <span class="mat-cell">{{item.transportationCost | currency}}</span>
              <span class="mat-cell">{{item.total | currency}}</span>

            </mat-expansion-panel-header>
            <div>
              <pre>{{item | json}}</pre>
            </div>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
      <div style="padding-top:10px"></div>
      <div *ngIf="request.costs.equipmentCosts.standbyCosts.costs.length > 0" class="full-width" fxLayout="column" fxLayoutGap="4px">
        <div class="smaller-gray-text" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
          <label>Equipment |
            <b>Standby</b>
          </label>
          <span class="spacer"></span>
          <span class="spacer"></span>
          <span class="spacer"></span>

          <span fxFlex class="right-align subtitle">powered by
            <img class="img-responsive" src="../../assets/img/ew-small.gif">
          </span>
        </div>
        <mat-accordion displayMode="flat" multi class="mat-table cost-table">
          <section matSort class="mat-header-row">
            <span class="mat-header-cell">MAKE/MODEL</span>
            <span class="mat-header-cell">DESCRIPTION</span>
            <span class="mat-header-cell">YEAR</span>
            <span class="mat-header-cell">SN/VIN</span>
            <span class="mat-header-cell">OWNERSHIP</span>
            <span class="mat-header-cell">OPERATING</span>
            <span class="mat-header-cell">FHWA</span>
            <span class="mat-header-cell">HOURS</span>
            <span class="mat-header-cell">TRANSPORT</span>
            <span class="mat-header-cell">AMOUNT</span>
          </section>
          <mat-expansion-panel *ngFor="let item of request.costs.equipmentCosts.standbyCosts.costs">
            <mat-expansion-panel-header class="mat-row">
              <span class="mat-cell">{{item.machine.make}}</span>
              <span class="mat-cell">{{item.machine.description}}</span>
              <span class="mat-cell">{{item.machine.year}}</span>
              <span class="mat-cell">{{item.machine.vin}}</span>
              <span class="mat-cell">{{item.machine.ownershipCost | currency}}</span>
              <span class="mat-cell">{{item.machine.operatingCost | currency}}</span>
              <span class="mat-cell">{{item.machine.fhwa | currency}}</span>
              <span class="mat-cell">{{item.hours}}</span>
              <span class="mat-cell">{{item.transportationCost | currency}}</span>
              <span class="mat-cell">{{item.total | currency}}</span>

            </mat-expansion-panel-header>
            <div>
              <pre>{{item | json}}</pre>
            </div>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>
    <div></div>
  </div>
</div>
