@import 'src/styles/styles';
.request-form {
    .primary-link {
        font-weight: 900;
        color: mat-color($primary, 500, 0.9);
        cursor: pointer;
    }
    .mat-cell {
        padding: 4px;
    }
    .mat-header-cell {
        padding: 4px;
    }
    .mat-input-element {
        border: 1px solid mat-color($mat-fusedark, 100, 0.55);
        border-radius: 2px;
        padding: 4px;
    }
    .full-height {
        height: 100%;
    }
    .signature-row {
        height: 30vh;
    }
    .blue-link {
        color: mat-color($mat-blue, 500, 0.9);
        cursor: pointer;
    }
    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
    .mat-dialog-container {
        padding: 0;
        overflow: hidden;
        .mat-toolbar {
            min-height: initial;
        }
        .toolbar-bottom {
            height: auto;
        }
    }
    .f-w,
    .full-width {
        width: 100%;
    }
    .cost-tab-group {
        width: 100%;
        height: 100%;
    }
    .mat-toolbar {
        background-color: white;
    }
    .alt {
        background-color: inherit;
        padding-right: 0;
    }
    .mat-checkbox-label {
        font-size: 75%;
        color: mat-color($mat-fusedark, 400, 0.8);
    }
    .bordered,
    .summary-row {
        border: 1px solid mat-color($mat-fusedark, 100, 0.75);
        margin-left: 8px;
        margin-right: 8px;
    }
    .cost-label,
    .sub-header {
        color: mat-color($mat-fusedark, 400, 0.8);
        font-size: 60%;
        font-weight: 900;
    }
    .summary-label {
        color: mat-color($mat-fusedark, 400, 0.8);
    }
    .summary-column div,
    .total-cost-column div {
        font-weight: bold;
    }
    .summary-column {
        padding: 8px;
    }
    .cost-column div {
        font-size: 75%;
    }
    .total-cost-column {
        padding-left: 8px;
        padding-right: 8px;
        background-color: mat-color($mat-fusedark, 100, 0.8);
    }
    .total-summary-column {
        padding: 8px;
        background-color: mat-color($mat-fusedark, 100, 0.8);
    }
    .info-toolbar {
        background-color: whitesmoke;
    }
    .input-form {
        padding: 12px;
        background-color: mat-color($mat-fusedark, 50, 0.25);
        border-radius: 4px;
    }
    .gray-color {
        color: mat-color($mat-fusedark, 300, 0.9);
    }
    .mat-toolbar {
        min-height: initial;
    }
    .toolbar-bottom {
        height: auto;
    }
    .left-margin-5 {
        margin-left: 5%;
    }
    .width-85 {
        width: 85% !important;
    }
    .width-50,
    .w-50 {
        width: 50% !important;
    }
    .spacer {
        flex: 1 1 auto;
    }
}