<header class="header-6">
  <div class="branding">
    <img class="logo" alt="logo" src="../../assets/img/costtrax.png">
    <div class="brand col align-bottom">CostTrax</div>
  </div>
  <div class="header-nav">
    <a href="/home" class="active nav-link nav-text">Dashboard</a>
    <a href="/projects" class="nav-link nav-text">Projects</a>
  </div>
  <div>

  </div>
  <div class="header-actions">
    <h5>Brian</h5>
    <app-toolbar-notifications></app-toolbar-notifications>
    <app-toolbar-user-button></app-toolbar-user-button>
  </div>
</header>
