<h3 mat-dialog-title>Submit Request</h3>
<mat-dialog-content>
  <h3>Please sign this request:</h3>
  <form [formGroup]="signatureFormGroup" class="column full-width">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Signature</mat-label>
      <input matInput placeholder="Contractor Signature" type="text" formControlName="signature" required />
      <mat-error *ngIf="signatureFormGroup.get('signature').hasError('required')">
        Signature is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="btn btn-outline" (click)="cancel()">
    Cancel
  </button>
  <button type="button" class="btn btn-success" [disabled]="
      !signatureFormGroup.valid ||
      signatureFormGroup.get('signature').value === ''
    " (click)="confirm()">
    Submit
  </button>
</mat-dialog-actions>
