<div class="full-width px-1">
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'" [clrDgSortBy]="'name'"
      >Account</clr-dg-column
    >
    <clr-dg-column [clrDgField]="'email'" [clrDgSortBy]="'name'"
      >Email</clr-dg-column
    >
    <clr-dg-column style="width:100px">Actions</clr-dg-column>
    <clr-dg-row
      class="pointer"
      *clrDgItems="let item of (accounts | async); let i = index"
    >
      <clr-dg-cell>{{ item.organization }}</clr-dg-cell>
      <clr-dg-cell
        ><div *ngFor="let admin of item.admins">
          {{ admin.email }}
        </div></clr-dg-cell
      >
      <clr-dg-cell>
        <div class="row justify-content-end" style="width:100px">
          <button
            *ngIf="item.isActive()"
            class="ripple
                            icon-30 icon-button
                            pr-1"
            matTooltip="Mark Inactive"
            [disabled]="true"
            (click)="archiveAccount(item)"
          >
            <mat-icon color="accent">archive</mat-icon>
          </button>
          <button
            class="ripple icon-button icon-30 pr-1"
            matTooltip="Remove"
            [disabled]="true"
            (click)="removeAccount(item)"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{ (accounts | async)?.length }} Accounts</clr-dg-footer>
  </clr-datagrid>
</div>
