<div class="full-width px-1">
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'" [clrDgSortBy]="'name'">Account</clr-dg-column>
    <clr-dg-column [clrDgField]="'email'" [clrDgSortBy]="'name'">Email</clr-dg-column>
    <clr-dg-row class="pointer" *clrDgItems="let item of accounts | async;
      let i= index" (click)="viewAccount(item)">
      <clr-dg-cell>{{item.name}}</clr-dg-cell>
      <clr-dg-cell>{{item.email}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{(accounts | async)?.length}} Accounts</clr-dg-footer>
  </clr-datagrid>
</div>
