<h3 mat-dialog-title class="modal-title">
  <span *ngIf="!newProject">Invite</span>&nbsp;<span *ngIf="newProject"
    >Add</span
  >
  <span *ngIf="type === 'REQUESTOR'">Requestor</span
  ><span *ngIf="type !== 'REQUESTOR'">User</span>
</h3>
<mat-dialog-content>
  <form class="full-width" [formGroup]="emailForm">
    <mat-form-field class="pass w-85" style="width:85%!important">
      <input
        class="full-width"
        type="text"
        matInput
        formControlName="email"
        autocomplete="email"
        placeholder="Email to invite"
        label="Email to invite"
      />
      <mat-error
        *ngIf="
          !emailForm.controls.email.valid || emailForm.get('email').untouched
        "
      >
        <span translate>Valid Email is required</span>
      </mat-error>
    </mat-form-field>
    <div *ngIf="type !== 'REQUESTOR'">
      <h5 class="mt-1 no-top-margin">Project Owner Roles</h5>
      <div class="column">
        <mat-checkbox
          type="checkbox"
          id="adminCheck"
          [(ngModel)]="newUser.projectManager"
          [disabled]="newUser.isRequestor()"
          [ngModelOptions]="{ standalone: true }"
          (change)="roleChanged(newUser, 'ProjectManager')"
          ><span [class.muted-text]="!newUser.projectManager"
            >Project Manager</span
          >
        </mat-checkbox>
      </div>
      <div class="column">
        <mat-checkbox
          type="checkbox"
          id="observeCheck"
          [(ngModel)]="newUser.projectObserver"
          [disabled]="newUser.isRequestor()"
          [ngModelOptions]="{ standalone: true }"
          (change)="roleChanged(newUser, 'projectObserver')"
          ><span [class.muted-text]="!newUser.projectObserver"
            >Project Observer</span
          >
        </mat-checkbox>
      </div>

      <div class="column">
        <mat-checkbox
          type="checkbox"
          id="requestorCheck"
          [(ngModel)]="newUser.projectApprover"
          [disabled]="newUser.isRequestor()"
          [ngModelOptions]="{ standalone: true }"
          (change)="roleChanged(newUser, 'ProjectApprover')"
          ><span [class.muted-text]="!newUser.projectApprover"
            >Project Approver</span
          >
        </mat-checkbox>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="btn btn-outline" (click)="cancel()">
    Cancel
  </button>
  <button
    *ngIf="!newProject"
    class="btn btn-primary"
    (click)="sendInvite()"
    [disabled]="emailForm.invalid"
  >
    <span>Send Invite</span>
  </button>
  <button
    *ngIf="newProject"
    class="btn btn-primary"
    (click)="addUser()"
    [disabled]="emailForm.invalid"
  >
    <span
      >Add <span *ngIf="type === 'REQUESTOR'">Requestor</span
      ><span *ngIf="type !== 'REQUESTOR'">User</span></span
    >
  </button>
</mat-dialog-actions>
