@import 'src/styles/styles';

.contractor-form {
  .mat-toolbar {
    min-height: initial;
  }

  .toolbar-bottom {
    height: auto;
  }

  .left-margin-5 {
    margin-left: 5%;
  }

  .full-width {
    width: 100% !important;
  }

  .width-85 {
    width: 85% !important;
  }

  .w-50,
  .width-50 {
    width: 50% !important;
  }

  .w-10 {
    width: 10% !important;
  }

  .w-30 {
    width: 30% !important;
  }

  .w-25 {
    width: 25% !important;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
