<div
  class="user-button-container"
  #userButton
  (appClickOutside)="onClickOutside()"
>
  <button
    class="user-button ripple"
    mat-button
    (click)="toggleDropdown()"
    [class.open]="isOpen"
  >
    <clr-icon class="is-solid" shape="id-badge" size="36"></clr-icon>
    <span class="hidden-sm-down">{{ userName }}</span>
    <mat-icon class="icon">keyboard_arrow_down</mat-icon>
  </button>

  <div class="dropdown mat-elevation-z1 mr-1" [class.open]="isOpen">
    <mat-list>
      <mat-list-item *ngIf="!accountSynced" (click)="syncAccounts()">
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        <h4 mat-line>Sync EquipmentWatch Account</h4>
      </mat-list-item>
      <mat-list-item *ngIf="accountSynced">
        <mat-icon mat-list-icon>account_box</mat-icon>
        <h4 mat-line>EquipmentWatch Account Synced</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="pointer action" (click)="logout()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <h4 mat-line>Logout</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>copyright</mat-icon>
        <h4 mat-line class="full-width">
          CostTrax 2018
          <span
            class="muted-text
                        smaller-text"
            >&nbsp;&nbsp;version: {{ version }}</span
          >
        </h4>
      </mat-list-item>
    </mat-list>
  </div>
</div>
