.gray {
  background-color: #f5f5f5;
}

.section-label {
  font-weight: 900;
}

.cost-label {
  color: #003d79;
}

.project-section {
  background-color: white;
  padding: 14px;
  margin-top: 4px;
  border-radius: 4px;
}

.datagrid-host {
  max-height: 60vh !important;
  padding-top: 0 !important;
}

.primary-label {
  color: #003d79;
}

.muted-text {
  color: rgba(0, 0, 0, 0.56);
}

.warning-label {
  color: #f44336;
}

.no-row-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
