.gray {
    background-color: #f5f5f5;
}

.date-range-picker {
    min-width: 235px !important;
}

.section-label {
    font-weight: 500;
}

.cost-label {
    color: #003d79;
}

.card-header {
    border-radius: 4px;
}

.project-section {
    background-color: white;
    padding: 14px;
    margin-top: 4px;
    border-radius: 4px;
}

.datagrid-host {
    max-height: 60vh !important;
    padding-top: 0 !important;
}

.primary-label {
    color: #003d79;
}

.warning-label {
    color: #f44336;
}

.row-label {
    width: 160px !important;
}

.pending {
    background: #E9984C;
    border-radius: 4px;
}

.complete {
    background: #218838;
    border-radius: 4px;
}

#invoice-contents {
    z-index: 5000;
}

.requestor-complete {
    background: red;
    border-radius: 4px;
}

.light-text {
    color: #EEE !important;
}

.totals-table table, tr, td {
    border-collapse: collapse;
}

.totals-table {
    border: none !important;
    background: inherit !important;
    font-size: 12px !important;
}

.small-top-padding {
    padding-top: 8px !important;
}
