<div cdkScrollable class="full-width basic-container">
  <app-breadcrumbs></app-breadcrumbs>
  <div id="invoice-contents" [@fadeInOut] *ngIf="request && !shrinkToolbar" class="mx-1 card-header
    no-row-padding">
    <div *ngIf="!editMode" class="col-12 px-1 full-width row" [formGroup]="notesFormGroup">
      <div [class.pending]="!request.isComplete()" [class.requestor-complete]="canSubmitRequest && request.isComplete()"
        [class.complete]="
          (canManageProject || canManageRequest) && request.isComplete()
        " class="hidden-lg-down col-1 full-height row
        no-row-margins text-center">
        <h4 class="strong mx-auto light-text" *ngIf="!request.isComplete()">
          {{ request.status.toUpperCase() }}
        </h4>

        <h6 class="strong mx-auto light-text" *ngIf="request.isComplete()">
          APPROVED
        </h6>
      </div>
      <div [class.pending]="!request.isComplete()" [class.requestor-complete]="canSubmitRequest && request.isComplete()"
        [class.complete]="
          (canManageProject || canManageRequest) && request.isComplete()
        " class="hidden-xl-up col-1 align-content-center
        align-items-center full-height row no-row-margins text-center">
        <h4 class="hidden-sm-up no-top-margin strong mx-auto light-text rotated" *ngIf="!request.isComplete()">
          {{ request.status.toUpperCase() }}
        </h4>
        <h6 class="hidden-sm-up no-top-margin strong mx-auto light-text rotated" *ngIf="request.isComplete()">
          APPROVED
        </h6>
        <h4 class="hidden-xs-down strong mx-auto light-text rotated" *ngIf="!request.isComplete()">
          {{ request.status.toUpperCase() }}
        </h4>

        <h6 class="hidden-xs-down strong mx-auto light-text rotated" *ngIf="request.isComplete()">
          APPROVED
        </h6>
      </div>
      <div class="col-5 column pl-2">
        <div class="row no-row-margins">
          <h3 class="strong project-label">
            {{ request.projectName }}
          </h3>
        </div>
        <div class="hidden-lg-up column no-row-margins pt-1">
          <div class="row no-row-margins">
            <h4 class="no-top-margin row-details pr-1 strong">Request:</h4>

            <h4 class="no-top-margin" *ngIf="request.oneUp">
              {{ request.oneUp }}
            </h4>
            <h4 class="no-top-margin" *ngIf="!request.oneUp">NEW REQUEST</h4>
          </div>
          <div class="row no-row-margins pt-1">
            <h4 class="no-top-margin strong row-details">Dates:</h4>

            <div>
              <h4 class="no-top-margin row-details">
                {{ request.dateRange | dates: 'MM/dd/yy' }}
              </h4>
            </div>
          </div>
        </div>
        <div class="hidden-md-down row no-row-margins pt-1">
          <h4 class="no-top-margin row-details pr-1 strong">Request:</h4>
          <div>
            <h4 class="no-top-margin" *ngIf="request.oneUp">
              {{ request.oneUp }}
            </h4>
            <h4 class="no-top-margin" *ngIf="!request.oneUp">NEW REQUEST</h4>
          </div>
          <h4 class="no-top-margin strong row-details px-1">Dates:</h4>

          <div>
            <h4 class="no-top-margin row-details">
              {{ request.dateRange | dates: 'MM/dd/yy' }}
            </h4>
          </div>
        </div>
        <div *ngIf="request" class="column align-items-center">
          <h4 class="no-top-margin strong row-details pt-1">Notes:</h4>

          <div class="full-width">
            <textarea *ngIf="canSubmitRequest && request.isDraft()" class="full-width muted-text"
              style="padding-top:6px;margin-top: 6px" id="request_notes" rows="3" formControlName="notes"></textarea>
            <div *ngIf="
                (request.notes && request.notes !== '' && !canSubmitRequest) ||
                !request.isDraft()
              ">
              {{ request.notes }}
            </div>
            <div *ngIf="
                (!request.notes || request.notes === '') &&
                (!canSubmitRequest || !request.isDraft())
              ">
              <h5 class="muted-text">No Notes Provided</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="col-4 column">
        <table id="totals-table" cellspacing="0" cellpadding="0" class="table totals-table table-compact">
          <tbody>
            <tr *ngIf="request.adjustments.labor.enabled">
              <td class="left">Labor Total</td>
              <td class="left">{{ request.laborTotal | currency }}</td>
              <td></td>
            </tr>
            <tr *ngIf="
                request.adjustments.equipmentActive.enabled ||
                request.adjustments.equipmentStandby.enabled ||
                request.adjustments.equipmentRental.enabled
              ">
              <td class="left">Equipment Total</td>
              <td class="left">{{ request.equipmentTotal | currency }}</td>
              <td></td>
            </tr>
            <tr *ngIf="request.adjustments.material.enabled">
              <td class="left">Materials Total</td>
              <td class="left">{{ request.materialTotal | currency }}</td>
              <td></td>
            </tr>
            <tr *ngIf="request.adjustments.subcontractor.enabled"></tr>
            <tr *ngIf="request.adjustments.subcontractor.enabled">
              <td class="left">Subcontractor Total</td>
              <td class="left">{{ request.subcontractorTotal | currency }}</td>
              <td></td>
            </tr>
            <tr *ngIf="request.adjustments.other.enabled">
              <td class="left">Other Total</td>
              <td class="left">{{ request.otherTotal | currency }}</td>
              <td></td>
            </tr>
            <tr>
              <td class="left strong">TOTAL</td>
              <td class="left strong">{{ request.total | currency }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="full-width row mx-auto no-row-margins">
          <div *ngIf="
              request &&
              request.isComplete() &&
              (canManageProject || canManageRequest)
            " class="row mt-1 mx-auto
            no-row-margins">
            <button type="button" (click)="viewRecapitulation()" class="btn btn-primary ripple">
              View Recapitulation
            </button>
            <button type="button" (click)="exportRecapitulation()" class="btn btn-primary ripple">
              Export
            </button>
          </div>
          <div *ngIf="
              request &&
              request.status.toLowerCase() === 'rejected' &&
              canSubmitRequest
            " class="row mt-1 mx-auto no-row-margins">
            <button type="button" (click)="reworkRequest()" class="btn btn-primary ripple">
              <clr-icon shape="undo"></clr-icon>
              Re-Work
            </button>
          </div>
          <div *ngIf="
              request &&
              request.status.toLowerCase() !== 'draft' &&
              canManageRequest
            " class="row mt-1 mx-auto no-row-margins">
            <button type="button" *ngIf="request.status.toLowerCase() === 'pending'" (click)="approveRequest()"
              class="btn btn-primary ripple">
              <clr-icon shape="check"></clr-icon>
              Approve
            </button>
            <button type="button" *ngIf="request.status.toLowerCase() === 'pending'" (click)="rejectRequest()"
              class="btn btn-danger ripple">
              <clr-icon shape="times"></clr-icon>
              Reject
            </button>
          </div>
          <div *ngIf="
              request &&
              (request.status.toLowerCase() === 'new' ||
                request.status.toLowerCase() === 'draft')
            " class="row mt-1 mx-auto
            no-row-margins">
            <button *ngIf="canSubmitRequest" matTooltip="Save Request" [disabled]="
                signatureFormGroup.invalid ||
                notesFormGroup.hasError('notValid')
              " class="ripple
                        btn
                        btn-primary mr-1" (click)="saveRequest()">
              <clr-icon class="hidden-md-up" shape="floppy"></clr-icon>
              <span class="hidden-sm-down">Save</span>
            </button>
            <button *ngIf="canSubmitRequest" matTooltip="Submit Request" [disabled]="
                signatureFormGroup.invalid ||
                notesFormGroup.hasError('notValid') ||
                !request.hasLineItems() ||
                !request.isDraft()
              " class="ripple
              btn
              btn-success mr-1" (click)="submitRequest()">
              <clr-icon class="hidden-md-up" shape="check"></clr-icon>
              <span class="hidden-sm-down">Submit</span>
            </button>
            <button type="button" *ngIf="!request.id" class="btn
              btn-outline-danger ripple" matTooltip="Cancel Request" (click)="cancelRequest()">
              <clr-icon class="hidden-md-up" shape="times"></clr-icon>
              <span class="hidden-sm-down">Cancel</span>
            </button>
            <button type="button" *ngIf="request.id && canSubmitRequest" class="btn
              btn-outline-danger ripple" matTooltip="Delete Request" (click)="deleteRequest()">
              <clr-icon class="hidden-md-up" shape="times"></clr-icon>
              <span class="hidden-sm-down">Delete</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="
      request &&
      request.isComplete() &&
      (canManageProject || canManageRequest) &&
      shrinkToolbar
    " [@fadeInOut]>
    <nz-affix [nzOffsetTop]="64">
      <div class="card-header row full-width align-items-center
        align-content-center px-1 no-row-margins col-12 mat-elevation-z2">
        <div class="complete col-2 pr-1 full-status-height align-items-center
          align-content-center row
          no-row-margins text-center">
          <h6 class="no-top-margin align-items-center align-content-center
            strong mx-auto light-text">
            APPROVED
          </h6>
        </div>

        <h5 class="px-1 strong project-label">
          {{ request.projectName }} | Request #{{ request.oneUp }} |
        </h5>
        <h5 class="no-top-margin row-details">
          {{ request.dateRange | dates: 'MM/dd/yy' }}
        </h5>
        <div class="spacer"></div>
        <button type="button" (click)="viewRecapitulation()" class="btn btn-primary ripple">
          View Recapitulation
        </button>
        <button type="button" (click)="exportRecapitulation()" class="btn btn-primary ripple">
          Export Recapitulation
        </button>
      </div>
    </nz-affix>
  </div>
  <div *ngIf="request" class="px-1 pt-1 full-width
    line-items">
    <div class="clearfix" *ngFor="let listType of request.itemsByType">
      <app-line-items (allApprove)="approveAll($event)" [itemList]="listType" (itemRemoved)="removeLineItem($event)"
        [draftMode]="request.isDraft()" [requestStartDate]="request.startDate" (itemsChanged)="itemsChanged($event)"
        [requestId]="request.id" [projectId]="request.projectId" [adjustments]="request.adjustments"
        [projectRoles]="request.projectRoles" [requestStatus]="request.status"></app-line-items>
    </div>
  </div>

  <div *ngIf="request" class="d-flex mt-1 mb-4
    flex-row justify-content-around
    full-width">
    <div *ngIf="request && request.id">
      <div class="row no-margin-left align-items-center">
        <h4 class="no-top-margin pr-1">Recapitulation</h4>
        <button type="button" *ngIf="request.status.toLowerCase() === 'pending' && canManageRequest"
          (click)="approveRequest()" class="btn btn-primary" color="primary">
          <clr-icon shape="check"></clr-icon>
          Approve
        </button>
        <button type="button" *ngIf="request.status.toLowerCase() === 'pending' && canManageRequest"
          (click)="rejectRequest()" class="btn btn-danger">
          <clr-icon shape="times"></clr-icon>
          Reject
        </button>
        <button *ngIf="canSubmitRequest" [disabled]="
            signatureFormGroup.invalid ||
            notesFormGroup.hasError('notValid') ||
            !request.hasLineItems() ||
            !request.isDraft()
          " class="ripple
          btn
          btn-success mr-1" (click)="submitRequest()">
          Submit
        </button>
      </div>
      <div class="full-width">
        <table id="invoice-table" class="table table-compact">
          <tbody>
            <tr *ngIf="request.adjustments.labor.enabled">
              <td class="left strong" colspan="3">Labor</td>
            </tr>
            <tr *ngIf="request.adjustments.labor.enabled">
              <td class="left">Labor</td>
              <td class="left">{{ request.laborSubtotal | currency }}</td>
              <td></td>
            </tr>
            <tr *ngIf="request.adjustments.labor.enabled">
              <td class="left">Fringe Benefits</td>
              <td class="left">{{ request.laborBenefitsTotal | currency }}</td>
              <td></td>
            </tr>

            <tr *ngIf="request.adjustments.labor.enabled">
              <td class="left">
                Labor Markup ({{ request.adjustments.labor.markup | percent }})
              </td>
              <td class="left">{{ request.laborMarkup | currency }}</td>
              <td></td>
            </tr>

            <tr *ngIf="request.adjustments.labor.enabled">
              <td class="left">Labor Total</td>
              <td class="left">{{ request.laborTotal | currency }}</td>
              <td></td>
            </tr>
            <tr *ngIf="request.adjustments.labor.enabled">
              <td colspan="4"><br /></td>
            </tr>
            <tr *ngIf="
                request.adjustments.equipmentActive.enabled ||
                request.adjustments.equipmentStandby.enabled ||
                request.adjustments.equipmentRental.enabled
              ">
              <td class="left strong" colspan="3">Equipment</td>
            </tr>
            <tr *ngIf="
                request.adjustments.equipmentActive.enabled ||
                request.adjustments.equipmentStandby.enabled ||
                request.adjustments.equipmentRental.enabled
              ">
              <td class="left">Active Subtotal</td>
              <td class="left">
                {{ request.equipmentActiveSubtotal | currency }}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="
                request.adjustments.equipmentActive.enabled ||
                request.adjustments.equipmentStandby.enabled ||
                request.adjustments.equipmentRental.enabled
              ">
              <td class="left">
                Active Markup ({{
                  request.adjustments.equipmentActive.markup | percent
                }})
              </td>
              <td class="left">
                {{ request.equipmentActiveMarkup | currency }}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="
                request.adjustments.equipmentActive.enabled ||
                request.adjustments.equipmentStandby.enabled ||
                request.adjustments.equipmentRental.enabled
              ">
              <td class="left">Standby Subtotal</td>
              <td class="left">
                {{ request.equipmentStandbySubtotal | currency }}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="
                request.adjustments.equipmentActive.enabled ||
                request.adjustments.equipmentStandby.enabled ||
                request.adjustments.equipmentRental.enabled
              ">
              <td class="left">
                Standby Markup ({{
                  request.adjustments.equipmentStandby.markup | percent
                }})
              </td>
              <td class="left">
                {{ request.equipmentStandbyMarkup | currency }}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="
                request.adjustments.equipmentActive.enabled ||
                request.adjustments.equipmentStandby.enabled ||
                request.adjustments.equipmentRental.enabled
              ">
              <td class="left">Rental Subtotal</td>
              <td class="left">
                {{ request.equipmentRentalSubtotal | currency }}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="
                request.adjustments.equipmentActive.enabled ||
                request.adjustments.equipmentStandby.enabled ||
                request.adjustments.equipmentRental.enabled
              ">
              <td class="left">
                Rental Markup ({{
                  request.adjustments.equipmentRental.markup | percent
                }})
              </td>
              <td class="left">
                {{ request.equipmentRentalMarkup | currency }}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="
                request.adjustments.equipmentActive.enabled ||
                request.adjustments.equipmentStandby.enabled ||
                request.adjustments.equipmentRental.enabled
              ">
              <td class="left">Equipment Total</td>
              <td class="left">{{ request.equipmentTotal | currency }}</td>
              <td></td>
            </tr>
            <tr *ngIf="
                request.adjustments.equipmentActive.enabled ||
                request.adjustments.equipmentStandby.enabled ||
                request.adjustments.equipmentRental.enabled
              ">
              <td colspan="4"><br /></td>
            </tr>

            <tr *ngIf="request.adjustments.material.enabled">
              <td class="left strong" colspan="3">Materials</td>
            </tr>
            <tr *ngIf="request.adjustments.material.enabled">
              <td class="left">Materials Subtotal</td>
              <td class="left">{{ request.materialSubtotal | currency }}</td>
              <td></td>
            </tr>
            <tr *ngIf="request.adjustments.material.enabled">
              <td class="left">
                Materials Markup ({{
                  request.adjustments.material.markup | percent
                }})
              </td>
              <td class="left">{{ request.materialMarkup | currency }}</td>
              <td></td>
            </tr>
            <tr *ngIf="request.adjustments.material.enabled">
              <td class="left">Materials Total</td>
              <td class="left">{{ request.materialTotal | currency }}</td>
              <td></td>
            </tr>
            <tr *ngIf="request.adjustments.material.enabled">
              <td colspan="4"><br /></td>
            </tr>
            <tr *ngIf="request.adjustments.subcontractor.enabled">
              <td class="left strong" colspan="3">Subcontractor</td>
            </tr>
            <tr *ngIf="request.adjustments.subcontractor.enabled">
              <td class="left">Subcontractor Subtotal</td>
              <td class="left">
                {{ request.subcontractorSubtotal | currency }}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="request.adjustments.subcontractor.enabled">
              <td class="left">
                Subcontractor Markup ({{
                  request.adjustments.subcontractor.markup | percent
                }})
              </td>
              <td class="left">{{ request.subcontractorMarkup | currency }}</td>
              <td></td>
            </tr>
            <tr *ngIf="request.adjustments.subcontractor.enabled">
              <td class="left">Subcontractor Total</td>
              <td class="left">{{ request.subcontractorTotal | currency }}</td>
              <td></td>
            </tr>
            <tr *ngIf="request.adjustments.subcontractor.enabled">
              <td colspan="4"><br /></td>
            </tr>
            <tr *ngIf="request.adjustments.other.enabled">
              <td class="left">Other Total</td>
              <td class="left">{{ request.otherTotal | currency }}</td>
              <td></td>
            </tr>

            <tr>
              <td colspan="4"><br /></td>
            </tr>
            <tr>
              <td class="left strong">TOTAL</td>
              <td class="left strong">{{ request.total | currency }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
