<div class="full-width">
  <section
    *ngIf="!newProject"
    class="full-width d-flex flex-row align-items-center"
  >
    <h5 *ngIf="newProject && type === 'REQUESTOR'" class="no-top-margin pr-1">
      REQUESTORS
    </h5>
    <h5 *ngIf="newProject && type !== 'REQUESTOR'" class="no-top-margin pr-1">
      APPROVERS & OBSERVERS
    </h5>
  </section>
  <h5 *ngIf="newProject && type === 'REQUESTOR'" class="pt-2 pr-1">
    Who will be submitting requests for this project?
  </h5>
  <h5 *ngIf="newProject && type !== 'REQUESTOR'" class="pt-2 pr-1">
    Do you want to add any additional Approvers or Observers to this project?
  </h5>
  <button
    type="button"
    class="btn btn-sm btn-primary mt-1"
    *ngIf="type === 'REQUESTOR'"
    (click)="addRequestor()"
  >
    Add Requestor
  </button>
  <button
    type="button"
    class="btn btn-sm btn-primary mt-1"
    *ngIf="type !== 'REQUESTOR'"
    (click)="inviteUser()"
  >
    Add User
  </button>
  <section
    *ngIf="newProject"
    class="full-width d-flex flex-row align-items-center"
  >
    <div
      *ngIf="type === 'REQUESTOR'"
      class="row no-margin-left font-italic small-text"
    >
      <i class="material-icons md-20 md-dark"> info </i>&nbsp;Added Requestors
      will be sent an email invitation to begin submitting requests for this
      project.
    </div>
    <div
      *ngIf="type !== 'REQUESTOR'"
      class="row no-margin-left font-italic small-text"
    >
      <i class="material-icons md-20 md-dark"> info </i>&nbsp;Approvers will be
      invited to view and approve submitted requests. Observers will have
      view-only access.
    </div>
  </section>

  <div class="full-width hidden-md-up">
    <div
      class="col-lg-4 col-md-12 col-sm-12 col-xs-12"
      *ngFor="let user of users; let i = index"
    >
      <div class="card">
        <div class="card-header">
          <h5 class="m-0 bold">{{ user.email }}</h5>
        </div>
        <div class="card-block">
          <div class="card-text row">
            <div class="d-flex flex-column col-12">
              <!-- need to set ngModel to user based roles -->
              <div class="row">
                <div class="col-2 pr-1">Project Admin</div>
                <mat-slide-toggle
                  [(ngModel)]="user.projectAdmin"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="roleChanged(user, 'ProjectAdmin')"
                ></mat-slide-toggle>
              </div>
              <div class="row">
                <div class="col-2 pr-1">Project Observe</div>
                <mat-slide-toggle
                  [(ngModel)]="user.projectObserve"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="roleChanged(user, 'ProjectObserve')"
                ></mat-slide-toggle>
              </div>
              <div class="row">
                <div class="col-2 pr-1">Request Manage</div>
                <mat-slide-toggle
                  [(ngModel)]="user.requestManage"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="roleChanged(user, 'RequestManage')"
                ></mat-slide-toggle>
              </div>
              <div class="row">
                <div class="col-2 pr-1">Request Submit</div>
                <mat-slide-toggle
                  [(ngModel)]="user.requestSubmit"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="roleChanged(user, 'RequestSubmit')"
                ></mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="full-width hidden-sm-down mb-1">
    <clr-datagrid>
      <clr-dg-column>Email</clr-dg-column>
      <clr-dg-column>Roles</clr-dg-column>
      <clr-dg-column></clr-dg-column>

      <clr-dg-row *ngFor="let user of users; let i = index">
        <clr-dg-cell>{{ user.email }}</clr-dg-cell>
        <clr-dg-cell>
          <div *ngIf="user.roles">
            <mat-chip-list>
              <mat-chip *ngFor="let role of user.roles">{{
                role | rolePrint
              }}</mat-chip>
            </mat-chip-list>
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          <div class="row justify-content-end">
            <button
              *ngIf="user.expanded && type !== 'REQUESTOR'"
              class="ripple icon-30 icon-button mr-1"
              matTooltip="Save"
              (click)="saveRoleEdit(user)"
            >
              <mat-icon color="accent">done</mat-icon>
            </button>
            <button
              *ngIf="!user.expanded && type !== 'REQUESTOR'"
              matTooltip="Edit"
              class="ripple icon-30 icon-button mr-1"
              (click)="editUser(user)"
            >
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button
              *ngIf="!user.expanded"
              class="ripple icon-30 icon-button"
              matTooltip="Remove"
              (click)="removeUser(i, user)"
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
            <button
              *ngIf="user.expanded && type !== 'REQUESTOR'"
              class="ripple icon-30 icon-button mr-1"
              matTooltip="Cancel Edits"
              (click)="cancelRoleEdit(user)"
            >
              <mat-icon color="warn">undo</mat-icon>
            </button>
          </div>
        </clr-dg-cell>
        <ng-container
          ngProjectAs="clr-dg-row-detail"
          *ngIf="type !== 'REQUESTOR'"
        >
          <clr-dg-row-detail *clrIfExpanded="user.expanded">
            <div class="d-flex flex-column col-12 pb-2">
              <!-- need to set ngModel to user based roles -->

              <h6>Project Owner Roles</h6>
              <div class="row">
                <div class="col-2 pr-1">Project Admin</div>
                <mat-slide-toggle
                  [(ngModel)]="user.projectAdmin"
                  [disabled]="user.isRequestor()"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="roleChanged(user, 'ProjectAdmin')"
                ></mat-slide-toggle>
              </div>
              <div class="row">
                <div class="col-2 pr-1">Project Observer</div>
                <mat-slide-toggle
                  [(ngModel)]="user.projectObserve"
                  [disabled]="user.isRequestor()"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="roleChanged(user, 'ProjectObserve')"
                ></mat-slide-toggle>
              </div>
              <div class="row">
                <div class="col-2 pr-1">Manage Request</div>
                <mat-slide-toggle
                  [(ngModel)]="user.requestManage"
                  [disabled]="user.isRequestor()"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="roleChanged(user, 'RequestManage')"
                ></mat-slide-toggle>
              </div>
            </div>
          </clr-dg-row-detail>
        </ng-container>
      </clr-dg-row>

      <clr-dg-footer>{{ users.length }} Users</clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
