<div class="main-container full-width">
  <header class="header-6 align-items-center">
    <div class="branding align-items-center">
      <div class="brand col align-bottom">HERMES</div>
    </div>
    <div class="header-nav">
      <a class="nav-link nav-text" [routerLink]="['/home']">Home</a>
      <a class="nav-link nav-text" [routerLink]="['/projects']">Projects</a>
    </div>
    <div class="header-actions align-items-center px-3">
      <app-toolbar-notifications></app-toolbar-notifications>
      <app-toolbar-user-button></app-toolbar-user-button>
    </div>
  </header>
  <div class="content-container full-width">
    <div class="content-area full-width">
      <router-outlet class="full-width"></router-outlet>
    </div>
  </div>
</div>
