app-contacts-contact-list {
  mat-cell.mat-cell,
  mat-header-cell.mat-header-cell {
    overflow: visible;
  }

  .full-width {
    width: 100%;
  }
}

#add-contact-button {
  position: absolute;

  top: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
}
