<mat-card>
  <mat-card-header>
    <mat-card-title>Messages</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class="messages">
      <li *ngFor="let message of messages; trackBy: byId" class="item-container">
        <button mat-button mat-suffix mat-icon-button color="accent" class="delete-button" aria-label="Delete" (click)="deleteMessage(message)"
          matTooltip="Delete the message">
          <mat-icon>delete</mat-icon>
        </button>
        <div class="selectable-item" [class.selected]="message === selectedMessage" (click)="onSelect(message)">
          <div class="badge">{{message.id}}</div>
          <div class="item-text">
            <div class="name">{{message.user}}</div>
            <div class="saying">{{message.text}}</div>
          </div>
        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
