@import 'src/styles/partials/var';

$padding__page: 14px;
$padding__page__small: 8px;

.center {
    text-align: center;
}

.jumbo {
    color: rgba(0, 0, 0, 0.57) !important;
    font-size: 3.1rem !important;
}

.red {
    color: rgba(255, 0, 0, 0.57) !important;
}

.align-end {
    position: absolute !important;
    right: 0;
}

.smaller {
    font-size: 65%;
}

body div.cdk-overlay-container {
    z-index: 1000000;
}

.btn-link {
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
}

.btn-link:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
    color: whitesmoke;
    background-color: #377BB6;
}

@mixin responsivePadding($dir: all, $reverse: false) {
    @if $reverse == false {
        @if $dir == 'all' {
            padding: $padding__page;

            @include gt-md {
                padding: $padding__page__small;
            }
        }
        @else if $dir == 'top' {
            padding-top: $padding__page;

            @include gt-md {
                padding-top: $padding__page__small;
            }
        }
        @else if $dir == 'right' {
            padding-right: $padding__page;

            @include gt-md {
                padding-right: $padding__page__small;
            }
        }
        @else if $dir == 'bottom' {
            padding-bottom: $padding__page;

            @include gt-md {
                padding-bottom: $padding__page__small;
            }
        }
        @else if $dir == 'left' {
            padding-left: $padding__page;

            @include gt-md {
                padding-left: $padding__page__small;
            }
        }
    }
    @else if $reverse == true {
        @if $dir == 'all' {
            margin: -$padding__page;

            @include gt-md {
                margin: -$padding__page__small;
            }
        }
        @else if $dir == 'top' {
            margin-top: -$padding__page;

            @include gt-md {
                margin-top: -$padding__page__small;
            }
        }
        @else if $dir == 'right' {
            margin-right: -$padding__page;

            @include gt-md {
                margin-right: -$padding__page__small;
            }
        }
        @else if $dir == 'bottom' {
            margin-bottom: -$padding__page;

            @include gt-md {
                margin-bottom: -$padding__page__small;
            }
        }
        @else if $dir == 'left' {
            margin-left: -$padding__page;

            @include gt-md {
                margin-left: -$padding__page__small;
            }
        }
    }
}

$padding__page__half: $padding__page / 2;
$padding__page__small__half: $padding__page__small / 2;

@mixin responsivePaddingHalf($dir: all, $reverse: false) {
    @if $reverse == false {
        @if $dir == 'all' {
            padding: $padding__page__half;

            @include gt-md {
                padding: $padding__page__small__half;
            }
        }
        @else if $dir == 'top' {
            padding-top: $padding__page__half;

            @include gt-md {
                padding-top: $padding__page__small__half;
            }
        }
        @else if $dir == 'right' {
            padding-right: $padding__page__half;

            @include gt-md {
                padding-right: $padding__page__small__half;
            }
        }
        @else if $dir == 'bottom' {
            padding-bottom: $padding__page__half;

            @include gt-md {
                padding-bottom: $padding__page__small__half;
            }
        }
        @else if $dir == 'left' {
            padding-left: $padding__page__half;

            @include gt-md {
                padding-left: $padding__page__small__half;
            }
        }
    }
    @else if $reverse == true {
        @if $dir == 'all' {
            margin: -$padding__page__half;

            @include gt-md {
                margin: -$padding__page__small__half;
            }
        }
        @else if $dir == 'top' {
            margin-top: -$padding__page__half;

            @include gt-md {
                margin-top: -$padding__page__small__half;
            }
        }
        @else if $dir == 'right' {
            margin-right: -$padding__page__half;

            @include gt-md {
                margin-right: -$padding__page__small__half;
            }
        }
        @else if $dir == 'bottom' {
            margin-bottom: -$padding__page__half;

            @include gt-md {
                margin-bottom: -$padding__page__small__half;
            }
        }
        @else if $dir == 'left' {
            margin-left: -$padding__page__half;

            @include gt-md {
                margin-left: -$padding__page__small__half;
            }
        }
    }
}

@mixin responsiveMargin($dir: all) {
    @if $dir == 'all' {
        margin: $padding__page;

        @include gt-md {
            margin: $padding__page__small;
        }
    }
    @else if $dir == 'top' {
        margin-top: $padding__page;

        @include gt-md {
            margin-top: $padding__page__small;
        }
    }
    @else if $dir == 'right' {
        margin-right: $padding__page;

        @include gt-md {
            margin-right: $padding__page__small;
        }
    }
    @else if $dir == 'bottom' {
        margin-bottom: $padding__page;

        @include gt-md {
            margin-bottom: $padding__page__small;
        }
    }
    @else if $dir == 'left' {
        margin-left: $padding__page;

        @include gt-md {
            margin-left: $padding__page__small;
        }
    }
}

$margin__page__half: $padding__page / 2;
$margin__page__small__half: $padding__page__small / 2;

@mixin responsiveMarginHalf($dir: all) {
    @if $dir == 'all' {
        margin: $margin__page__half;

        @include gt-md {
            margin: $margin__page__small__half;
        }
    }
    @else if $dir == 'top' {
        margin-top: $margin__page__half;

        @include gt-md {
            margin-top: $margin__page__small__half;
        }
    }
    @else if $dir == 'right' {
        margin-right: $margin__page__half;

        @include gt-md {
            margin-right: $margin__page__small__half;
        }
    }
    @else if $dir == 'bottom' {
        margin-bottom: $margin__page__half;

        @include gt-md {
            margin-bottom: $margin__page__small__half;
        }
    }
    @else if $dir == 'left' {
        margin-left: $margin__page__half;

        @include gt-md {
            margin-left: $margin__page__small__half;
        }
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: $height / $width * 100%;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.tab-spacer {
    flex: 1 1 auto;
}

a:-webkit-any-link {
    color: rgba(0, 0, 0, 0.57) !important;
}

.mat-button-outline {
    border: 1px solid rgba(0, 0, 0, 0.47);
    background-color: rgba(255, 255, 255, 0.9);
}

.dashboard-badge {
    line-height: 28px;
    font-size: 1.2em !important;
}

.title-color {
    color: #a4a4a6;
}

.primary-color {
    color: rgba(0, 0, 0, 0.47);
}

.projects {
    @include responsivePadding;

    .actions {
        .filter::ng-deep {
            .mat-select-arrow,
            .mat-select-trigger,
            .mat-select-value {
                color: white;
            }

            .mat-select-underline {
                background-color: white;
            }
        }
    }

    .project {
        background: white;

        @include responsiveMargin(top);

        border-radius: 0.25em;
        overflow: hidden;
        position: relative;
        width: 250px;
        padding: 0 !important;

        &:last-child {
            @include responsiveMargin(right);
        }

        .header {
            background: #002538;

            > .content {
                padding: 8px;

                .top-row {
                    font-size: 14px;
                }

                .codename {
                    font-size: 14px;
                    font-weight: bold;
                    display: flex;
                    flex-wrap: wrap;
                    overflow-wrap: break-word;
                    white-space: -moz-pre-wrap !important;

                    /* Mozilla, since 1999 */
                    white-space: -pre-wrap;

                    /* Opera 4-6 */
                    white-space: -o-pre-wrap;

                    /* Opera 7 */
                    white-space: pre-wrap;

                    /* css-3 */
                    word-wrap: break-word;

                    /* Internet Explorer 5.5+ */
                    white-space: -webkit-pre-wrap;

                    /* Newer versions of Chrome/Safari*/
                    word-break: break-all;
                    white-space: normal;
                }
            }
        }

        .details {
            padding: 20px 24px;

            .codename {
                font-size: 20px;
                font-weight: bold;
                white-space: -moz-pre-wrap !important;

                /* Mozilla, since 1999 */
                white-space: -pre-wrap;

                /* Opera 4-6 */
                white-space: -o-pre-wrap;

                /* Opera 7 */
                white-space: pre-wrap;

                /* css-3 */
                word-wrap: break-word;

                /* Internet Explorer 5.5+ */
                white-space: -webkit-pre-wrap;

                /* Newer versions of Chrome/Safari*/
                word-break: break-all;
                white-space: normal;
            }

            .name {}

            .members {
                margin-top: 16px;

                .member {
                    img {
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                    }

                    & + .member {
                        margin-left: 6px;
                    }
                }
            }

            .divider {
                margin: 20px auto 16px;
            }

            .status {
                font-weight: bold;
                font-size: 14px;
                text-align: center;
            }
        }

        &:hover {
            .overlay {
                visibility: visible;
                opacity: 1;
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.4);
            opacity: 0;
            visibility: hidden;
            transition: all 0.25s;
            display: flex;
            justify-content: center;
            align-items: center;

            .overlay-content {
                padding: 20px 24px 24px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .overlay-actions {
                    .icon-button {
                        background: white;
                        color: #333;
                        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
                    }
                }
            }
        }
    }
}
