<div class="full-width px-1">
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'meta.name'" [clrDgSortBy]="'name'"
      >Project</clr-dg-column
    >
    <clr-dg-column [clrDgField]="'meta.requestingOrgs'"
      >Requesting Organizations</clr-dg-column
    >
    <clr-dg-column [clrDgField]="'requestStats.pendingCount'"
      >Open Requests</clr-dg-column
    >

    <clr-dg-column
      [clrDgField]="'requestStats.pendingMaxAge'"
      [clrDgSortOrder]="ascSort"
      >Oldest Open Request</clr-dg-column
    >
    <clr-dg-row
      class="pointer"
      *clrDgItems="let item of projects; let i = index"
      (click)="openProject(item)"
    >
      <clr-dg-cell>{{ item.meta.name }}</clr-dg-cell>
      <clr-dg-cell>{{ item.meta.requestingOrgs }}</clr-dg-cell>
      <clr-dg-cell>{{ item.requestStats.pendingCount }}</clr-dg-cell>
      <clr-dg-cell>{{ item.requestStats.pendingMaxAge }} days</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{ projects.length }} Projects</clr-dg-footer>
  </clr-datagrid>
</div>
