<div class="container" fxLayoutAlign="start center">
  <mat-tab-group class="full-width">
    <mat-tab label="Home">
      <div class="title-color" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
        <h2>Start A New Request</h2>
        <button mat-raised-button color='primary'>via an Existing Project</button>
        <a href="#" class="primary-link">or via a New Project</a>
      </div>
      <mat-list fxFlex>
        <h3 mat-subheader>Latest Activity ({{count$ | async}})</h3>
        <mat-divider></mat-divider>
        <mat-list-item class="left" *ngFor="let log of logEntries$ | async">
          <h4 mat-line>{{log.project.owner}} has
            <strong>{{log.log}}</strong> Request No: {{log.request.id}} for {{log.project.name}} </h4>
          <div fxLayout="row" fxLayoutGap="4px">
            <button mat-button class="mat-button-outline nmat-elevation-z2" (click)="viewRequest(log)">
              View
            </button>
            <button mat-icon-button (click)="removeEntry(log)">
              Clear
            </button>
          </div>

        </mat-list-item>
      </mat-list>


    </mat-tab>
    <mat-tab label="Requests">

      <app-requests></app-requests>

    </mat-tab>
    <mat-tab label="Projects">
      <app-projects></app-projects>

    </mat-tab>
    <mat-tab label="Messages">

    </mat-tab>

    <mat-tab class="tab-spacer" fxFlexAlign="end" label="Contractors">
      <app-contacts></app-contacts>
    </mat-tab>
  </mat-tab-group>

</div>
