<div class="title-color" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
  <h2>Start A New Request</h2>
  <button mat-raised-button color='primary' (click)="createRequest(false)">via an Existing Project</button>
  <a class="primary-link" (click)="createRequest(true)">or via a New Project</a>
</div>
<div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
  <mat-list style="overflow:auto;max-height:50vh">
    <h3 mat-subheader>Latest Activity ({{count$ | async}})</h3>
    <mat-divider></mat-divider>
    <mat-list-item class="left" *ngFor="let log of logEntries$ | async">
      <h4 mat-line>{{log.project.owner}} has
        <strong>{{log.log}}</strong> Request No: {{log.request.id}} for {{log.project.name}} </h4>
      <div fxLayout="row" fxLayoutGap="4px">
        <button mat-button class="mat-button-outline nmat-elevation-z2" (click)="viewRequest(log)">
          View
        </button>
        <button mat-icon-button (click)="removeEntry(log)">
          Clear
        </button>
      </div>

    </mat-list-item>
  </mat-list>
</div>
