<div class="container" fxLayoutAlign="start center">
  <mat-tab-group class="full-width">
    <mat-tab label="Home">
      <div class="title-color" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
        <h2>Start A New Request</h2>
        <button mat-raised-button color='primary'>via an Existing Project</button>
        <a href="#" class="primary-link">or via a New Project</a>
      </div>

    </mat-tab>
    <mat-tab label="Requests">
      <div>
        <app-requests></app-requests>
      </div>
    </mat-tab>
    <mat-tab label="Projects">
      <div>
        <app-projects></app-projects>
      </div>
    </mat-tab>
    <mat-tab label="Messages">

    </mat-tab>

    <mat-tab class="tab-spacer" fxFlexAlign="end" label="Contractors">
      <div>
        <app-contacts></app-contacts>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
