@import 'src/styles/styles';

app-messages-list {
  mat-cell.mat-cell,
  mat-header-cell.mat-header-cell {
    overflow: visible;
    cursor: pointer;
  }

  .mat-expansion-panel-header.mat-expanded {
    background-color: mat-color($mat-fusedark, 50, 0.9) !important;
  }

  .message-body {
    border: 1px solid mat-color($mat-fusedark, 50, 0.9);
    padding: 8px;
    border-radius: 8px;
  }

  mat-toolbar-row {
    background-color: white;
  }

  .blue-link {
    color: mat-color($mat-blue, 500, 0.9);
  }

  .messages-badge {
    display: flex;
    align-items: center;
    width: 35px;
    height: 25px;
    padding: 0 7px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 20px;
    transition: opacity 0.2s ease-in-out 0.1s;
    margin-left: 8px;
    color: whitesmoke;
    justify-content: space-around;
    background-color: mat-color($mat-green, 500, 0.9);
  }

  .full-width {
    width: 100%;
  }
}

#requestTable {
  max-height: 50vh !important;
  overflow: auto !important;
}

#add-request-button {
  position: absolute;

  top: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
}
